
SistemaSIGEIN/SIGE.WebApp/obj/Release/sige.webapp.dll.licenses
SistemaSIGEIN/SistemaSIGEIN.v11.suo
*.ide-shm
*.ide-shm
*.ide
SistemaSIGEIN/.vs/SistemaSIGEIN/v16/.suo
*.ide-wal
*.dll
*.pdb
*.cache
*.pdb
*.cache
*.dll
*.pdb
*.cache
*.dll
*.config
*.pdb
*.cache
*.dll
*.ide
*.ide-shm
*.dll
*.pdb
*.cache
*.ide
*.ide
*.ide-shm
*.ide-shm
*.ide-wal
*.dll
*.pdb
