<html ng-app="MiAplicacion">
<head id="librerias">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache' />

    <title>Sistema SIGEIN</title>
    <link href='Assets/images/Icono.png' rel='shortcut icon' />
  
    <script src="Assets/js/jquery.min.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/appCache.js" class="librerias" data-tipo="js"></script>

    <!-- LIBRERIA JS -->
    <script src="Assets/js/angular.min.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/angular-route.min.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/ui-bootstrap-tpls-0.13.4.js" class="librerias" data-tipo="js"></script>

    <script src="Assets/js/bootstrap.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/kendo.all.min.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/skin/material/kendo.custom.js" id="jsSkin" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/nprogress.js" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/intro.js" class="librerias" data-tipo="js"></script>


    <script src="Assets/js/ng-file-upload-all.js"></script>
    <script src="Assets/js/ng-file-upload-all.min.js"></script>
    <script src="Assets/js/ng-file-upload-shim.js"></script>
    <script src="Assets/js/ng-file-upload-shim.min.js"></script>
    <script src="Assets/js/ng-file-upload.js"></script>
    <script src="Assets/js/ng-file-upload.min.js"></script>


    <!-- LIBRERIA CSS -->
    <link href="Assets/css/bootstrap.min.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/estilo.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/kendo.common-bootstrap.min.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/kendo.bootstrap.min.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/skin/material/kendo.custom.css" rel="stylesheet" id="cssSkin" class="librerias" data-tipo="css" />
    <link href="Assets/library/font-awesome/css/font-awesome.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/nprogress.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/animate.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <link href="Assets/css/introjs.css" rel="stylesheet" class="librerias" data-tipo="css" />

    <!-- LIBRERIA DE LOS MENSAJES DIALOG DE BOOTSTRAP -->
    <link href="Assets/css/boostrap-dialog.css" rel="stylesheet" class="librerias" data-tipo="css" />
    <script src="Assets/js/bootstrap-dialog.min.js" class="librerias" data-tipo="js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-sanitize.js"></script>

    <!-- DESARROLLO JS -->
    <script src="Assets/js/appConfiguracion.js?v=201511061012" class="librerias" data-tipo="js"></script>
    <script src="Assets/js/appPrincipal.js?v=201511061012" class="librerias" data-tipo="js"></script>

    <!-- LIBRERIA LINQ -->
    <script src="Assets/js/jquery.linq.js"  class="librerias" data-tipo="js"></script>
    <script src="Assets/js/linq.js" class="librerias" data-tipo="js"></script>
</head>
<body ng-controller="LoginController">
    <form name="frmLogin">
    <div class="container" style="margin-top:60px">
        <div class="row">
            <div class="col-md-12 col-xs-12" style="position: absolute; top: 0px; left: 0%;">
                <center>
                    <img src="Assets/images/TituloBannerSigein.png" class="visible-md visible-lg visible-sm" alt="Banner" />
                    <img src="Assets/images/Logo.png" alt="Logo" class="visible-xs" />
                </center>
            </div>
        </div>
        <div class="row" id="ContentLogin">
            <div class="CentrarLogin">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        <strong id="tituloLogin" data-modulo="login" class="TextoDom" data-html="*"> Inicia sesión para continuar</strong>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <div class="row">
                               <div class="center-block">
                                        <div id="LogoLogin">                                            
                                            <img class="profile-img" ng-src="{{logoUsuario}}" />
                                         </div>         
                                </div>
                       </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input class="form-control TextoDom" data-modulo="login" id="textoUsuario" placeholder="Usuario" name="Usuario" type="text" autofocus ng-model="user"  required>                                             
                                        </div>
                                        <span class="col-md-12 col-sm-12 col-xs-12 validacion" ng-show="ErrorValidacion('Usuario','required')" style="padding:0px">El usuario es requerido.</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input class="form-control TextoDom" data-modulo="login" placeholder="Contraseña" name="password" id="password" type="password" ng-model="pass" ng-keypress="EntrarTecla($event)" required>                                            
                                        </div>
                                        <span class="col-md-12 col-sm-12 col-xs-12 validacion" ng-show="ErrorValidacion('password','required')"  style="padding:0px">La contraseña es requerida.</span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="button" data-modulo="login" name="recuperapassword" id="recuperapassword" value="Recuperar contraseña" class="btn btn-link TextoDom" ng-click="RecuperaPassword()" />                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary btn-block TextoDom" id="botonlogin" data-modulo="login" value="Ingresar" ng-click="Login()">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer" style="text-align: center;">
                        <i class="fa fa-file-text"></i>
                        <input type="button" data-modulo="login" name="btnSolicitud" id="btnSolicitud" value="Solicitud de empleo" class="btn btn-link TextoDom" />
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div style="text-align: right;position: fixed;bottom: 30px;width: 100%;right: 10px;">
                <img class="zoom" src="Assets/images/Mexico.png" style="cursor:pointer;width: 40px;" onclick="CambiarLenguajeLogin('es')" />
                <img class="zoom" src="Assets/images/EstadosUnidos.png" style="cursor:pointer;width: 40px;" onclick="CambiarLenguajeLogin('en')" />
            </div>
        </div>
    </div>
    <div class="PiedePagina">
        <div class="container">
            <div class="col-md-6 col-xs-12">
                <a href="http://www.sigein.com.mx" style="color:#FFF !important" target="_blank">www.sigein.com.mx</a>
            </div>
            <div class="col-md-6 col-xs-12">
                Copyright 2015 SIGEIN ®
            </div>
        </div>
    </div>
    </form>
</body>
</html>
