<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SrvDB03\DEV;initial catalog=SIGEIN;persist security info=True;user id=sa;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

  <system.webServer>

    <!-- PREFIJOS QUE VAN A CONSIDERAR DESDE  EL WEBCONFIG PARA QUE LO ACEPTE WEBCONFIG  -->

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />

      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />

      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <services>
      <!-- SE AGREGA  ESTA REFERENCIA PARA LO DE JQUERY  Y ASI HACER LA LLAMADA -->
      <service name="WebApp.ws.EvaluacionOrganizacional" behaviorConfiguration="ServicioBehavior">
        <endpoint address="EvaluacionOrganizacional" binding="basicHttpBinding" contract="WebApp.ws.IEvaluacionOrganizacional" />
        <endpoint address="" behaviorConfiguration="SistemaSIGEIN.WebApp.ws" binding="webHttpBinding" contract="WebApp.ws.IEvaluacionOrganizacional" />
        <host>
          <baseAddresses>
            <add baseAddress="~/ws/EvaluacionOrganizacional.svc" />
          </baseAddresses>
        </host>
      </service>

      <service name="WebApp.ws.FormacionDesarrollo" behaviorConfiguration="ServicioBehavior">
        <endpoint address="FormacionDesarrollo" binding="basicHttpBinding" contract="WebApp.ws.IFormacionDesarrollo" />
        <endpoint address="" behaviorConfiguration="SistemaSIGEIN.WebApp.ws" binding="webHttpBinding" contract="WebApp.ws.IFormacionDesarrollo" />
        <host>
          <baseAddresses>
            <add baseAddress="~/ws/FormacionDesarrollo.svc" />
          </baseAddresses>
        </host>
      </service>

      <service name="WebApp.ws.IntegracionPersonal" behaviorConfiguration="ServicioBehavior">
        <endpoint address="IntegracionPersonal" binding="basicHttpBinding" contract="WebApp.ws.IIntegracionPersonal" />
        <endpoint address="" behaviorConfiguration="SistemaSIGEIN.WebApp.ws" binding="webHttpBinding" contract="WebApp.ws.IIntegracionPersonal" />
        <host>
          <baseAddresses>
            <add baseAddress="~/ws/IntegracionPersonal.svc" />
          </baseAddresses>
        </host>
      </service>


      <service name="WebApp.ws.MetodologiaCompensacion" behaviorConfiguration="ServicioBehavior">
        <endpoint address="MetodologiaCompensacion" binding="basicHttpBinding" contract="WebApp.ws.IMetodologiaCompensacion" />
        <endpoint address="" behaviorConfiguration="SistemaSIGEIN.WebApp.ws" binding="webHttpBinding" contract="WebApp.ws.IMetodologiaCompensacion" />
        <host>
          <baseAddresses>
            <add baseAddress="~/ws/MetodologiaCompensacion.svc" />
          </baseAddresses>
        </host>
      </service>


      <service name="WebApp.ws.OperacionesGral" behaviorConfiguration="ServicioBehavior">
        <endpoint address="OperacionesGral" binding="basicHttpBinding" contract="WebApp.ws.IOperacionesGral" />
        <endpoint address="" behaviorConfiguration="SistemaSIGEIN.WebApp.ws" binding="webHttpBinding" contract="WebApp.ws.IOperacionesGral" />
        <host>
          <baseAddresses>
            <add baseAddress="~/ws/OperacionesGral.svc" />
          </baseAddresses>
        </host>
      </service>


    </services>

    <behaviors>

      <!-- SE AGREGA ESTA REFERENCIA  PARA LO DE JQUERY LLAMADA WCF-->
      <endpointBehaviors>
        <behavior name="SistemaSIGEIN.WebApp.ws">
          <enableWebScript />
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest"/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <!-- SE AGREGA ESTA REFERENCIA  PARA LO DE JQUERY LLAMADA WCF-->
        <behavior name="ServicioBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug  includeExceptionDetailInFaults="true" />
        </behavior>

        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>