.BordeModulo {
    border: 2px solid #DE1648;
}

.RadButton .rbDecorated {
    background-color: transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
}

span.RadButton.rbSkinnedButton, span.RadButton.rbLinkButton, span.RadButton.rbVerticalButton {
    background-color: #DE1648 !important;
    color: #fff !important;
}

.RadButton.rbSkinnedButton {
    background-color: #DE1648 !important;
}

.RadGrid .rgPagerCell .rgNumPart a.rgCurrentPage, .RadDataPager .rdpNumPart a.rdpCurrentPage {
    border: 1px solid #ddd !important;
    background-color: #F2DCDB !important;
    color: #fff !important;
}

.rwTitleRow .rwTitlebar, .rwTitleRow .rwCorner {
    border-bottom: 6px solid #DE1648 !important;
}

.RadGrid .rgMasterTable .rgSelectedCell, .RadGrid .rgSelectedRow > td, .RadGrid td.rgEditRow .rgSelectedRow, .RadGrid .rgSelectedRow td.rgSorted {
    color: #fff !important;
    background: #DE1648 none repeat scroll 0% 0% !important;
    border-color: #FFF !important;
}

.RadTreeList .rtlRSel td {
    background: #DE1648 none repeat scroll 0% 0% !important;
    color: #FFF!important;
    border-color: #FFF !important;
}

.RadTreeList .rtlVBorders td.rtlL, .RadTreeList_Bootstrap .rtlLines td.rtlL {
    background-color: #FFF !important;
}

.RadTreeList .rtlRSel {
    color: #333 !important;
}

.RadListBox .rlbItem.rlbSelected {
    color: #000 !important;
    background-color: #eee !important;
}

.RadListBox {
    line-height: 1.75 !important;
}

.RadTabStrip .rtsLevel1 .rtsSelected, .RadTabStrip .rtsLevel1 .rtsSelected:hover {
    background-color: #DE1648 !important;
    color: #fff !important;
}

.RadTabStripLeft .rtsLevel1 .rtsSelected, .RadTabStripLeft .rtsLevel1 .rtsSelected:hover {
    background-color: #A20804 !important;
}

.RadToolTip {
    border: 1px solid #A20804 !important;
    background-color: #A20804 !important;
    color: #333 !important;
}

.pisition {
    position: absolute;
    left: 25%;
}