<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- MANTO -->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cientes5.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;initial catalog=DB_034_P01;persist security info=True;user id=admin;password=BeUFAwD4q5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SigeinReporting" connectionString="Data Source=cientes5.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;Initial Catalog=DB_034_P01;Persist Security Info=True;User ID=admin;Password=BeUFAwD4q5;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!-- DEV -->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q1.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;initial catalog=SIGEINDEV50;persist security info=True;user id=admin;password=fGtE2w2Ft7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigeinReporting" connectionString="Data Source=q1.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;Initial Catalog=SIGEINDEV50;Persist Security Info=True;User ID=admin;Password=fGtE2w2Ft7;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!-- QA -->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q1.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;initial catalog=SIGEINQA50;persist security info=True;user id=admin;password=fGtE2w2Ft7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigeinReporting" connectionString="Data Source=q1.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;Initial Catalog=SIGEINQA50;Persist Security Info=True;User ID=admin;Password=fGtE2w2Ft7;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!-- SIGEIN QA -->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_059_M0_QA;persist security info=True;user id=admin;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegracionDePersonalEntities" connectionString="metadata=res://*/Modelo.IntegracionDePersonalModel.csdl|res://*/Modelo.IntegracionDePersonalModel.ssdl|res://*/Modelo.IntegracionDePersonalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_059_M0_QA;persist security info=True;user id=admin;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvaluacionOrganizacionalEntities" connectionString="metadata=res://*/Modelo.EvaluacionOrganizacionalModel.csdl|res://*/Modelo.EvaluacionOrganizacionalModel.ssdl|res://*/Modelo.EvaluacionOrganizacionalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_059_M0_QA;persist security info=True;user id=admin;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigeinReporting" connectionString="Data Source=127.0.0.2,11433;Initial Catalog=DB_059_M0_QA;Persist Security Info=True;User ID=admin;Password=o2B30x948nMBNhN;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--SIGEIN PDE SERVIDOR SIGEIN TI-->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.102,2433;initial catalog=DB_063_PDE;persist security info=True;user id=admin;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegracionDePersonalEntities" connectionString="metadata=res://*/Modelo.IntegracionDePersonalModel.csdl|res://*/Modelo.IntegracionDePersonalModel.ssdl|res://*/Modelo.IntegracionDePersonalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.102,2433;initial catalog=DB_063_PDE;persist security info=True;user id=admin;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvaluacionOrganizacionalEntities" connectionString="metadata=res://*/Modelo.EvaluacionOrganizacionalModel.csdl|res://*/Modelo.EvaluacionOrganizacionalModel.ssdl|res://*/Modelo.EvaluacionOrganizacionalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.102,2433;initial catalog=DB_063_PDE;persist security info=True;user id=admin;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigeinReporting" connectionString="Data Source=192.168.0.102,2433;Initial Catalog=DB_063_PDE;Persist Security Info=True;User ID=admin;Password=CNNm410s;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--RADAR BASE DE SIGEIN pruebas-->
    <add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_052_R0_QA;persist security info=True;user id=ADMIN;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegracionDePersonalEntities" connectionString="metadata=res://*/Modelo.IntegracionDePersonalModel.csdl|res://*/Modelo.IntegracionDePersonalModel.ssdl|res://*/Modelo.IntegracionDePersonalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_052_R0_QA;persist security info=True;user id=ADMIN;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvaluacionOrganizacionalEntities" connectionString="metadata=res://*/Modelo.EvaluacionOrganizacionalModel.csdl|res://*/Modelo.EvaluacionOrganizacionalModel.ssdl|res://*/Modelo.EvaluacionOrganizacionalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,11433;initial catalog=DB_052_R0_QA;persist security info=True;user id=ADMIN;password=o2B30x948nMBNhN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigeinReporting" connectionString="Data Source=127.0.0.2,11433;Initial Catalog=DB_052_R0_QA;Persist Security Info=True;User ID=ADMIN;Password=o2B30x948nMBNhN;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />



  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-MX" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Stimulsoft.Report.Web, Version=2016.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report, Version=2016.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Base, Version=2016.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <!--<add assembly="Stimulsoft.Report.Mobile, Version=2015.3.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="5000" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <sessionState timeout="300" />
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" path="/" timeout="300" name=".ASPXFORMSAUTH" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Comunes/SeleccionLocalizacion">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Comunes/ObtenerDocumento.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="IDP/Pruebas">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PDE/HandlerPDE.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="IDP/Solicitud">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EO/Cuestionarios">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="IDP/Requisicion">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <!--<add key="Telerik.Web.UI.StyleSheetFolders" value="~/Assets/skin" />-->
    <add key="Telerik.Web.UI.RenderMode" value="Classic" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="siteSIGEIN" value="http://pde.sigein.lan/SIG/InicioApp.aspx" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Controls.Win" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Controls" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Design" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>