<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- DEV SIGEINDEV-->
    <add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVDB03\DEV;initial catalog=SIGEINDEV;persist security info=True;user id=sa;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- DEV SIGEIN-->
    <!--<add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVDB03\DEV;initial catalog=SIGEIN;persist security info=True;user id=sa;password=CNNm410s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>