<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- CAPACITACION50 -->
    <add name="SistemaSigeinEntities" connectionString="metadata=res://*/Modelo.SistemaSigeinModel.csdl|res://*/Modelo.SistemaSigeinModel.ssdl|res://*/Modelo.SistemaSigeinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=q1.cdpvkxmilodr.us-west-2.rds.amazonaws.com,1433;initial catalog=CAPACITACION50;persist security info=True;user id=ADMIN;password=fGtE2w2Ft7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>