.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    color: #ffffff;
    background-color: #A20804 !important;
    border-color: #A20804 !important;
}

.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #A20804 !important;
}


.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #A20804 !important;
  -webkit-box-shadow: 0 0 7px 0 #A20804 !important;
  box-shadow: 0 0 7px 0 #A20804 !important;
}

.form-control:focus {
    border-color: #A20804;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}