	<!-poner en nuesto html --> 
 <div data-ng-controller="S_TIPO_COMPETENCIAController"> 
 	<script type="text/ng-template" id="op_TipoCompetencia.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
 			 <div class="row">  
 				<strong id="lblCL_TIPO_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_TIPO_COMPETENCIA"  style="text-align: right;">{{lbl_CL_TIPO_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_CL_TIPO_COMPETENCIA" style="width:99%;"  name="CL_TIPO_COMPETENCIA" type="text" 
                        placeholder="{{ph_CL_TIPO_COMPETENCIA}}" class="form-control input-md TextoDom  k-textbox" ng-model="CL_TIPO_COMPETENCIA" ng-disabled="CL_TIPO_COMPETENCIA_disable" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_TIPO_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblDS_TIPO_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_DS_TIPO_COMPETENCIA"  style="text-align: right;">{{lbl_DS_TIPO_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_DS_TIPO_COMPETENCIA" style="width:99%;"  name="DS_TIPO_COMPETENCIA" type="text" placeholder="{{ph_DS_TIPO_COMPETENCIA}}" class="form-control input-md TextoDom  k-textbox" ng-model="DS_TIPO_COMPETENCIA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.DS_TIPO_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblNB_TIPO_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_TIPO_COMPETENCIA"  style="text-align: right;">{{lbl_NB_TIPO_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_TIPO_COMPETENCIA" style="width:99%;"  name="NB_TIPO_COMPETENCIA" type="text" placeholder="{{ph_NB_TIPO_COMPETENCIA}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_TIPO_COMPETENCIA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_TIPO_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
         <div class="row">  
 				<strong id="lblFG_ACTIVO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="chk_FG_ACTIVO"  style="text-align: right;">{{lbl_FG_ACTIVO}}:</strong>   
 				<div class="col-md-7">  
 					<input id="chk_FG_ACTIVO" name="FG_ACTIVO" type="checkbox"  ng-model="FG_ACTIVO" data-ng-checked="FG_ACTIVO" class="TextoDom" che >  
 				</div>  
 			</div>  
 				</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	<div class="container" style="margin-top:10px">  
         <fieldset >
             <legend > 
                    {{titulo}}
            </legend>
 		    <div class="row">  
 			    <div style="clear:both;height:10px;">   
 			    </div>   
 			    <div id="Grid_TipoCompetencia">    
 			    </div>   
 			    <div style="clear:both;height:10px;">   
 			    </div>   
 			    <div class="row">  
 				    <div class="col-xs-12 col-md-7  col-ms-7">   
                         <input type="button" id="btnAgregar_Grid_TipoCompetencia" ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_TipoCompetencia()"  />   
                         <input type="button" id="btnModificar_Grid_TipoCompetencia" ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_TipoCompetencia()"  />   
                         <!--<input type="button" id="btnEliminar_Grid_TipoCompetencia" ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_TipoCompetencia()"  />   -->
                         <input type="button" id="btnActivarDesactivar_Grid_TipoCompetencia" ng-value="btnActivarDesactivar" class="k-button barraBotones longitudBotonMediano" ng-click="ActivarDesactivar_Grid_TipoCompetencia()"  /> 
                         <input id="btnExportarExcel_Grid_TipoCompetencia" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                            onclick="ExportarExcel('Grid_TipoCompetencia')" class="k-button barraBotones longitudBotonMediano" />
 				    </div>   
 			    </div>   
 		    </div>   
         </fieldset>
 	</div>  
 </div>