	<!-poner en nuesto html --> 
 <div data-ng-controller="C_EMPRESAController"> 
 	<script type="text/ng-template" id="op_Empresa.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
 			 <div class="row">  
 				<strong id="lblCL_EMPRESA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_EMPRESA"  style="text-align: right;">{{lbl_CL_EMPRESA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_CL_EMPRESA" ng-disabled="CL_EMPRESA_disable" style="width:99%;"  name="CL_EMPRESA" type="text" placeholder="{{ph_CL_EMPRESA}}" class="form-control input-md TextoDom  k-textbox" ng-model="CL_EMPRESA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_EMPRESA.$error.required">{{msjRequerido}}.</span>  
 		     </div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblNB_EMPRESA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_EMPRESA"  style="text-align: right;">{{lbl_NB_EMPRESA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_EMPRESA" style="width:99%;"  name="NB_EMPRESA" type="text" placeholder="{{ph_NB_EMPRESA}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_EMPRESA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_EMPRESA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblNB_RAZON_SOCIAL" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_RAZON_SOCIAL"  style="text-align: right;">{{lbl_NB_RAZON_SOCIAL}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_RAZON_SOCIAL" style="width:99%;"  name="NB_RAZON_SOCIAL" type="text" placeholder="{{ph_NB_RAZON_SOCIAL}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_RAZON_SOCIAL" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_RAZON_SOCIAL.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 				</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	<div class="container" style="margin-top:10px">  
 		<div class="row">  
 			<div style="clear:both;height:10px;">   
 			</div>   
 			<div id="Grid_Empresa">    
 			</div>   
 			<div style="clear:both;height:10px;">   
 			</div>   
 			<div class="row">  
 				<div class="col-xs-12 col-md-7  col-ms-7">   
                     <input type="button" id="btnAgregar_Grid_Empresa" value="Agregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_Empresa()"  />   
                     <input type="button" id="btnModificar_Grid_Empresa" value="Modificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_Empresa()"  />   
                     <input type="button" id="btnEliminar_Grid_Empresa" value="Eliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_Empresa()"  />   
                     <input id="btnExportarExcel_Grid_Empresa" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                    onclick="ExportarExcel('Grid_Empresa')" class="k-button barraBotones longitudBotonMediano" />  
 				</div>   
 			</div>   
 		</div>   
 	</div>  
 </div>