 <div data-ng-controller="C_ROLController"> 
 	<script type="text/ng-template" id="op_Rol.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
 			 <div class="row">  
 				<strong id="lblCL_ROL" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_ROL"  style="text-align: right;">{{lbl_CL_ROL}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_CL_ROL" style="width:99%;"  name="CL_ROL" type="text" placeholder="{{ph_CL_ROL}}" class="form-control input-md TextoDom  k-textbox" ng-model="CL_ROL" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_ROL.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblNB_ROL" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_ROL"  style="text-align: right;">{{lbl_NB_ROL}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_ROL" style="width:99%;"  name="NB_ROL" type="text" placeholder="{{ph_NB_ROL}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_ROL" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_ROL.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblFG_ACTIVO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="chk_FG_ACTIVO"  style="text-align: right;">{{lbl_FG_ACTIVO}}:</strong>   
 				<div class="col-md-7">  
 					<input id="chk_FG_ACTIVO" name="FG_ACTIVO" type="checkbox"  ng-model="FG_ACTIVO" data-ng-checked="FG_ACTIVO" class="TextoDom" >  
 				</div>  
 			</div>  
 				</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
     <script type="text/ng-template" id="op_SPE_OBTIENE_C_ROL_FUNCION.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo2}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
 			        <div class="row">  
 				        <strong id="lblID_FUNCION" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="int_ID_FUNCION"  style="text-align: right;">{{lbl_ID_FUNCION}}:</strong>   
 				        <div class="col-md-7">  
 					        <input id="int_ID_FUNCION"  onkeypress="return TecladoEsNumero(event)"  style="width:99%;"  name="ID_FUNCION" type="number" placeholder="{{ph_ID_FUNCION}}" class="form-control input-md TextoDom  k-textbox" ng-model="ID_FUNCION" required>  
 					        <span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.ID_FUNCION.$error.required">{{msjRequerido}}.</span>  
 				        </div>  
                    </div>
 			    </div> 			     
 			 	<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	
 	<div class="container" style="margin-top:10px">  
         <fieldset>
             <legend>
                    {{titulo}}
            </legend>
 		    <div class="row">  
 			    <div style="clear:both;height:10px;">   </div>   
 			    <div id="Grid_Rol">    
 			    </div>   
 			    <div style="clear:both;height:10px;">   
 			    </div>   
 			    <div class="row">  
 				    <div class="col-xs-12 col-md-7  col-ms-7">   
                         <input type="button" id="btnAgregar_Grid_Rol" data-ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_Rol()"  />  
                         <input type="button" id="btnModificar_Grid_Rol" data-ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_Rol()"  />  
                         <input type="button" id="btnEliminar_Grid_Rol" data-ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_Rol()"  />  				
                         <input id="btnExportarExcel_Grid_Rol" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                        onclick="ExportarExcel('Grid_Rol')" class="k-button barraBotones longitudBotonMediano" /> 
                         
 				    </div>   
 			    </div>   
 		    </div>   
        </fieldset>
         <div style="clear:both;height:10px;">   </div>   
        <fieldset>			
            <legend >				
                {{titulo2}}	
            </legend>			
            <div class="row">  
 				<div style="clear:both;height:10px;">   
 				</div>   
 				<div id="Grid_SPE_OBTIENE_C_ROL_FUNCION">    
 				</div>   
 				<div style="clear:both;height:10px;">   
 				</div>   
 				<div class="row">  
 					<div class="col-xs-12 col-md-7  col-ms-7">   
 						<input type="button" id="btnAgregar_Grid_SPE_OBTIENE_C_ROL_FUNCION"  ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_SPE_OBTIENE_C_ROL_FUNCION()"  />   
 						<!--<input type="button" id="btnModificar_Grid_SPE_OBTIENE_C_ROL_FUNCION" ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_SPE_OBTIENE_C_ROL_FUNCION()"  />   -->
 						<input type="button" id="btnEliminar_Grid_SPE_OBTIENE_C_ROL_FUNCION" ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_SPE_OBTIENE_C_ROL_FUNCION()"  />   
 						<!-- <input type="button" id="btnActivarDesactivar_Grid_ClasificacionCompetencias" ng-value="btnActivarDesactivar" class="k-button barraBotones longitudBotonMediano" ng-click="ActivarDesactivar_Grid_ClasificacionCompetencias()"  /> -->  
                         <input id="btnExportarExcel_Grid_SPE_OBTIENE_C_ROL_FUNCION" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                        onclick="ExportarExcel('Grid_SPE_OBTIENE_C_ROL_FUNCION')" class="k-button barraBotones longitudBotonMediano" /> 
 					</div>   
 				</div>   
 			</div>   
        </fieldset>
 	</div>  
 </div>