	<!-poner en nuesto html --> 
 <div data-ng-controller="C_CLASIFICACION_COMPETENCIAController"> 
 	<script type="text/ng-template" id="op_ClasificacionCompetencias.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
            <div class="row">  
 				<strong id="lblCL_CLASIFICACION" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_CLASIFICACION"  style="text-align: right;">{{lbl_CL_CLASIFICACION}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_CL_CLASIFICACION" style="width:99%;"  
                        name="CL_CLASIFICACION" type="text" 
                        placeholder="{{ph_CL_CLASIFICACION}}" 
                        class="form-control input-md TextoDom  k-textbox" 
                        ng-model="CL_CLASIFICACION" 
                        ng-disabled="CL_CLASIFICACION_disable" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_CLASIFICACION.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>   			 
 			 <div class="row">  
 				<strong id="lblCL_TIPO_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_TIPO_COMPETENCIA"  style="text-align: right;">{{lbl_CL_TIPO_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
                    <!--<select id="txt_CL_TIPO_COMPETENCIA" kendo-drop-down-list k-data-text-field="'NB_TIPO_COMPETENCIA'" 
                        k-data-value-field="'CL_TIPO_COMPETENCIA'" k-data-source="TipoCompetencia" style="width: 99%"  
                        ng-model="CL_TIPO_COMPETENCIA" k-option-label="'{{ph_CL_TIPO_COMPETENCIA}}'"
                         required> </select>-->
                    <select id="txt_CL_TIPO_COMPETENCIA" kendo-drop-down-list style="width: 99%" 
                         k-options="customOptions_CL_TIPO_COMPETENCIA"  ng-model="CL_TIPO_COMPETENCIA" 
                         ng-disabled="CL_TIPO_COMPETENCIA_disable"
                         value = "'{{CL_TIPO_COMPETENCIA}}'"
                         required> </select>
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_TIPO_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>   
 			</div>  
            <div class="row">  
 				<strong id="lblNB_CLASIFICACION_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_CLASIFICACION_COMPETENCIA"  style="text-align: right;">{{lbl_NB_CLASIFICACION_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_CLASIFICACION_COMPETENCIA" style="width:99%;"  name="NB_CLASIFICACION_COMPETENCIA" type="text" placeholder="{{ph_NB_CLASIFICACION_COMPETENCIA}}" class="form-control input-md TextoDom  k-textbox" 
                        ng-model="NB_CLASIFICACION_COMPETENCIA"  required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_CLASIFICACION_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblDS_CLASIFICACION_COMPETENCIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_DS_CLASIFICACION_COMPETENCIA"  style="text-align: right;">{{lbl_DS_CLASIFICACION_COMPETENCIA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_DS_CLASIFICACION_COMPETENCIA" style="width:99%;"  name="DS_CLASIFICACION_COMPETENCIA" type="text" placeholder="{{ph_DS_CLASIFICACION_COMPETENCIA}}" class="form-control input-md TextoDom  k-textbox" ng-model="DS_CLASIFICACION_COMPETENCIA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.DS_CLASIFICACION_COMPETENCIA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblDS_NOTAS_CLASIFICACION" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_DS_NOTAS_CLASIFICACION"  style="text-align: right;">{{lbl_DS_NOTAS_CLASIFICACION}}:</strong>   
 				<div class="col-md-7">  
 					<textarea id="txt_DS_NOTAS_CLASIFICACION"  style="height:100px; width:99%;"  cols="40"  rows="5"   name="DS_NOTAS_CLASIFICACION" type="text" placeholder="{{ph_DS_NOTAS_CLASIFICACION}}" class="form-control input-md TextoDom  k-textbox" ng-model="DS_NOTAS_CLASIFICACION" required>   </textarea>
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.DS_NOTAS_CLASIFICACION.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			<div class="row">  
 				<strong id="lblFG_ACTIVO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="chk_FG_ACTIVO"  style="text-align: right;">{{lbl_FG_ACTIVO}}:</strong>   
 				<div class="col-md-7">  
 					<input id="chk_FG_ACTIVO" name="FG_ACTIVO" type="checkbox"  ng-model="FG_ACTIVO" data-ng-checked="FG_ACTIVO" class="TextoDom" >  
 				</div>  
 			</div>  
 				</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	<div class="container" style="margin-top:10px">  
 		<div class="row">  
             <fieldset >
                 <legend > 
                        {{titulo}}
                </legend>
 			    <div style="clear:both;height:10px;">   
 			    </div>   
 			    <div id="Grid_ClasificacionCompetencias">    
 			    </div>   
 			    <div style="clear:both;height:10px;">   
 			    </div>   
 			    <div class="row">  
 				    <div class="col-xs-12 col-md-7  col-ms-7">   
                         <input type="button" id="btnAgregar_Grid_ClasificacionCompetencias" ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_ClasificacionCompetencias()"  />   
                         <input type="button" id="btnModificar_Grid_ClasificacionCompetencias" ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_ClasificacionCompetencias()"  />   
                        <!-- <input type="button" id="btnEliminar_Grid_ClasificacionCompetencias" ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_ClasificacionCompetencias()"  />   -->
                          <input type="button" id="btnActivarDesactivar_Grid_ClasificacionCompetencias" ng-value="btnActivarDesactivar" class="k-button barraBotones longitudBotonMediano" ng-click="ActivarDesactivar_Grid_ClasificacionCompetencias()"  /> 
                         <input type="button" id="btnExportarExcel_Grid_ClasificacionCompetencias" ng-value="BOTONEXPORTAREXCEL"  class="k-button barraBotones longitudBotonMediano" 
	                        onclick="ExportarExcel('Grid_ClasificacionCompetencias')"  />   
 				    </div>   
 			    </div>   
            </fieldset>
 		</div>   
 	</div>  
 </div>