	
<!-poner en nuesto html --> 
 <div data-ng-controller="C_ESTADOController"> 
      	<script type="text/ng-template" id="op_Colonia.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
                     <div class="row">  
 				        <strong id="lblNB_COLONIA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_COLONIA"  style="text-align: right;">{{lbl_NB_COLONIA}}:</strong>   
 				        <div class="col-md-7">  
 					        <input id="txt_NB_COLONIA" style="width:99%;"  name="NB_COLONIA" type="text" placeholder="{{ph_NB_COLONIA}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_COLONIA" required>  
 					        <span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_COLONIA.$error.required">{{msjRequerido}}.</span>  
 				        </div>  
 			        </div>  
 			         <div class="row">  
 				        <strong id="lblCL_CODIGO_POSTAL" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_CODIGO_POSTAL"  style="text-align: right;">{{lbl_CL_CODIGO_POSTAL}}:</strong>   
 				        <div class="col-md-7">  
 					        <input id="txt_CL_CODIGO_POSTAL" kendo-masked-text-box style="width:99%;"  k-mask="'00000'" name="CL_CODIGO_POSTAL" type="text" placeholder="{{ph_CL_CODIGO_POSTAL}}" class="form-control input-md TextoDom  k-textbox" ng-model="CL_CODIGO_POSTAL" required>  
 					        <span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_CODIGO_POSTAL.$error.required">{{msjRequerido}}.</span>  
 				        </div>  
 			        </div>  
 			         <div class="row">  
 				        <strong id="lblCL_TIPO_ASENTAMIENTO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_CL_TIPO_ASENTAMIENTO"  style="text-align: right;">{{lbl_CL_TIPO_ASENTAMIENTO}}:</strong>                               
 				        <div class="col-md-7">  
                            <select id="txt_CL_TIPO_ASENTAMIENTO" kendo-drop-down-list style="width:100%;" 
                                k-options="customOptions_TIPO_ASENTAMIENTO"                       
                                ng-model="CL_TIPO_ASENTAMIENTO" 
                                name="CL_TIPO_ASENTAMIENTO" 
                                k-option-label="'{{ph_CL_TIPO_ASENTAMIENTO}}'"
                                value = "'{{CL_TIPO_ASENTAMIENTO}}'"
                                required> 
                                <option value=""></option>
                                </select>
 					        <span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.CL_TIPO_ASENTAMIENTO.$error.required">{{msjRequerido}}.</span>  
 				        </div>  
 			        </div>  
 			 	</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
    <div>
        <div class="container" style="margin-top:10px">  
            <fieldset > 
                <legend>
                    {{titulo_colonia}}
                </legend>
                <div class="row">  
                    <div class="col-xs-12  col-sm-4  col-md-4  col-lg-4  "> 
                        
                            {{titulo_estado}}
                        
                        <select id="txt_ESTADOS" kendo-drop-down-list style="width:100%;" 
                             k-options="customOptions_ESTADOS"                       
                             ng-model="CL_ESTADO"  
                             name="CL_ESTADO" 
                             k-option-label="'{{ph_CL_ESTADO}}'"
                             ng-change="CargaMunicipios(CL_ESTADO)" 
                             required> 
                             <option value=""></option>
                        </select>

                    </div>
                    <div class="col-xs-12  col-sm-4  col-md-4  col-lg-4  ">
                        
                            {{titulo_municipio}}
                        
                        <select id="txt_MUNICIPIO" kendo-drop-down-list style="width:100%;" 
                             k-options="customOptions_MUNICIPIO"                       
                             ng-model="CL_MUNICIPIO"  
                             name="CL_MUNICIPIO" 
                             k-option-label="'{{ph_CL_MUNICIPIO}}'"
                             value = "'{{CL_MUNICIPIO}}'"
                             required> 
                             <option value=""></option>
                        </select>

                    </div>
                    <div class="col-xs-12  col-sm-4  col-md-4  col-lg-4  ">
                         &nbsp
                        <div style="width:100%;">
                        <button class="k-button barraBotones longitudBoton"  ng-click="CargaColonias()"> Filtrar</button>
                            </div>
                        </div>
                </div>
                <div class="row">  
                    <div style="clear:both;height:10px;">   
                    </div>   
                    <div id="Grid_Colonia" style="height: 485px;">    
                    </div> 
                    
                    <div style="clear:both;height:10px;">   
                    </div>   
                </div>   
                <div class="row">  
 					    <div class="col-xs-12 col-md-7  col-ms-7">   
 						    <input type="button" id="btnAgregar_Grid_Colonia"  ng-value="btnAgregar" ng-show="filtrado" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_Colonia()"  />   
 						    <input type="button" id="btnModificar_Grid_Colonia" ng-value="btnModificar" ng-show="filtrado" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_Colonia()"  />   
 						    <!--<input type="button" id="btnEliminar_Grid_Colonia" ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_Colonia()"  />   -->
 						    <!-- <input type="button" id="btnActivarDesactivar_Grid_ClasificacionCompetencias" ng-value="btnActivarDesactivar" class="k-button barraBotones longitudBotonMediano" ng-click="ActivarDesactivar_Grid_ClasificacionCompetencias()"  /> -->  
                             <input type="button" id="btnExportarExcel_Grid_Colonia" ng-value="BOTONEXPORTAREXCEL" ng-show="filtrado" class="k-button barraBotones longitudBotonMediano" onclick="ExportarExcel('Grid_Colonia')"  />   
                            
 					    </div>   
 				</div>     
            </fieldset> 
        </div>
    </div>
</div>