<div data-ng-controller="C_CATALOGO_LISTAController"> 
 	<script type="text/ng-template" id="op_CatalogoLista.html"> 
 		<form name="newForm" id="newForm">  
 			<div class="bootstrap-dialog {{modulo}}">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
 			 <div class="row">  
 				<strong id="lblNB_CATALOGO_LISTA" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NB_CATALOGO_LISTA"  style="text-align: right;">{{lbl_NB_CATALOGO_LISTA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_NB_CATALOGO_LISTA" style="width:99%;"  name="NB_CATALOGO_LISTA" type="text" maxlenght="100" placeholder="{{ph_NB_CATALOGO_LISTA}}" class="form-control input-md TextoDom  k-textbox" ng-model="NB_CATALOGO_LISTA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.NB_CATALOGO_LISTA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblDS_CATALOGO_LISTA" data-trigger="hover" data-toggle="popover" maxlenght="100" class="col-md-5 control-label TextoDom" for="txt_DS_CATALOGO_LISTA"  style="text-align: right;">{{lbl_DS_CATALOGO_LISTA}}:</strong>   
 				<div class="col-md-7">  
 					<input id="txt_DS_CATALOGO_LISTA" style="width:99%;"  name="DS_CATALOGO_LISTA" type="text" placeholder="{{ph_DS_CATALOGO_LISTA}}" class="form-control input-md TextoDom  k-textbox" ng-model="DS_CATALOGO_LISTA" required>  
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.DS_CATALOGO_LISTA.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 			 <div class="row">  
 				<strong id="lblID_CATALOGO_TIPO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="int_ID_CATALOGO_TIPO"  style="text-align: right;">{{lbl_ID_CATALOGO_TIPO}}:</strong>   
 				<div class="col-md-7">
                    <select id="ID_CATALOGO_TIPO" 
                                kendo-drop-down-list style="width: 99%"                                      
                                k-options="customOptions"
                                k-option-label="'{{ph_ID_CATALOGO_TIPO}}'"
                                value="'{{ID_CATALOGO_TIPO}}'"           
                                ng-model="ID_CATALOGO_TIPO"                    
                                name="ID_CATALOGO_TIPO"
                                ng-disabled="ID_CATALOGO_LISTA_disable"
                                required> </select> 
 					<span class="col-md-12 col-sm-12 col-xs-12 validacion" data-ng-show="newForm.$dirty && newForm.ID_CATALOGO_TIPO.$error.required">{{msjRequerido}}.</span>  
 				</div>  
 			</div>  
 				</div>  
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	<div class="container" style="margin-top:10px">  
       <fieldset>
         <legend>
                {{titulo}}
         </legend>
 		 <div class="row">  
 			<div style="clear:both;height:10px;">   
 			</div>   
 			<div id="Grid_CatalogoLista">    
 			</div>   
 			<div style="clear:both;height:10px;">   
 			</div>   
 			<div class="row">  
 				<div class="col-xs-12 col-md-7  col-ms-7">   
                     <input type="button" id="btnAgregar_Grid_CatalogoLista" data-ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_CatalogoLista()"  />   
                     <input type="button" id="btnModificar_Grid_CatalogoLista" data-ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_CatalogoLista()"  />   
                     <input type="button" id="btnEliminar_Grid_CatalogoLista" data-ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_CatalogoLista()"  />   
                     <input id="btnExportarExcel_Grid_Grid_CatalogoLista" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                    onclick="ExportarExcel('Grid_CatalogoLista')" class="k-button barraBotones longitudBotonMediano" />   
 				</div>   
 			</div>   
 		</div>   
          </fieldset>
 	</div>  
 </div>