	<!-poner en nuesto html --> 
 <div data-ng-controller="SPE_OBTIENE_K_REQUISICIONController"> 
 	<script type="text/ng-template" id="op_K_REQUISICION.html"> 
 		<form name="newForm" id="newForm"  >  
 			<div class="bootstrap-dialog {{modulo}} ">   
 				<div class="modal-header">  
 					<div class="bootstrap-dialog-header">  
 						<div class="bootstrap-dialog-close-button">  
 							<button class="close" data-ng-click="cancel()">×</button>  
 						</div>  
 						<div class="bootstrap-dialog-title" id="">{{titulo}}  
 						</div>  
 					</div>  
 				</div>  
 				<div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:5px;margin-bottom:5px;">  
                    <div style="width: 90%;">
 				         <div style="width: 100%; margin-right: 10px; margin-left: 30px; margin-top:5px;margin-bottom:5px;" > 
                            <div class="row">  
 				                <strong id="lblNO_REQUISICION" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="txt_NO_REQUISICION"  style="text-align: right;">{{lbl_NO_REQUISICION}}:</strong>   
 				                <div class="col-md-7">  
 					                <input id="txt_NO_REQUISICION" style="width:99%;"  name="NO_REQUISICION" type="text" placeholder="{{ph_NO_REQUISICION}}" class="form-control input-md TextoDom  k-textbox" ng-model="NO_REQUISICION" required>  
 				                </div>  
 			                </div>  
                            <div class="row">  
 				                <strong id="lblFE_SOLICITUD" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="date_FE_SOLICITUD"  style="text-align: right;">{{lbl_FE_SOLICITUD}}:</strong>   
 				                <div class="col-md-7">  
 					                <input id="date_FE_SOLICITUD" style="width:99%;"  name="FE_SOLICITUD" type="date" placeholder="{{ph_FE_SOLICITUD}}" class="form-control input-md TextoDom  k-textbox" ng-model="FE_SOLICITUD" required>  
 					                <span class="col-md-12 col-sm-12 col-xs-12 validacion"  min="1900-01-01" max="2100-01-01" data-ng-show="newForm.$dirty && newForm.FE_SOLICITUD.$error.required">{{msjRequerido}}.</span>  
 				                </div>  
 			                </div>  
                            <br>
                            <br>
                            <div class="row">
                                <ul kendo-panel-bar k-options="panelBarOptions" id="panelcontenedor">
                                    <li>{{PANELINFOAREA}}
                                        <ul id="panelbar1"  >
                                            <div style="width:100%; margin-top:2px; margin-botton:2px; margin-left:2px; margin-right:2px;">
                                                <table style="width:100%;>
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
                                                            <div  class="divInformacion"> {{INFOPUESTONOSEENCUENTRA}}</div>
                                                        <td>
                                                    <tr>
                                                    
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
                                                            <select id="txt_ID_PUESTO" 
                                                                kendo-drop-down-list 
                                                                style="width:100%;" 
                                                                k-options="customOptions_ID_PUESTO"
                                                                ng-model="ID_PUESTO" 
                                                                name="ID_PUESTO"
                                                                k-option-label="'{{ph_ID_PUESTO}}'"
                                                                ng-change = "ObtieneArea()"
                                                                value = "'{{ID_PUESTO}}'"
                                                                required> 
                                                                <option value=""></option>
                                                             </select>
                                                            <span class="validacion" data-ng-show="newForm.$dirty && newForm.ID_PUESTO.$error.required">{{msjRequerido}}.</span>  
                                                        <td>
                                                    <tr>
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
 				                                            <strong id="lblID_DEPARTAMENTO" data-trigger="hover" data-toggle="popover" class="col-md-5 control-label TextoDom" for="int_ID_DEPARTAMENTO"  style="text-align: right;">{{lbl_ID_DEPARTAMENTO}}:</strong>   
                                                            <input id="int_ID_DEPARTAMENTO" style="width:99%;"  name="ID_DEPARTAMENTO" type="Text" placeholder="{{ph_ID_DEPARTAMENTO}}" class="form-control input-md TextoDom  k-textbox" ng-model="ID_DEPARTAMENTO" disabled required>  
 					                                        <span  class="validacion" data-ng-show="newForm.$dirty && newForm.ID_DEPARTAMENTO.$error.required">{{msjRequerido}}.</span>  
 			                                            </div>  

                                                        <td>
                                                    <tr>
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
                                                        <td>
                                                    <tr>
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
                                                        <td>
                                                    <tr>
                                                    <tr style="width:100%;>
                                                        <td style="width:100%; ">
                                                        <td>
                                                    <tr>
                                                </table>
                                                <br\> 
                                                <br\> 
                                            </div>    
                                            <br\>                                        
                                      </ul>
                                    </li>
                                    <li> {{PANELCAUSAVACANTE}}
                                        <ul id="panelbar2">
                                            <div style="width:100%; margin-top:2px; margin-botton:2px;">
										        <br\>
                                                <br\>     
                                            </div>
									        <br\>
                                        </ul>
							        </li>
							        <li> {{PANELAUTORIZACIONES}}
                                        <ul id="panelbar3">
                                            <div style="width:100%; margin-top:2px; margin-botton:2px;">
										        <br\>
                                                <br\>     
                                            </div>
									        <br\>
                                        </ul>
							        </li>
                                </ul>
 				            </div>  
                         </div>  
			        </div>
                </div>
 				<div class="modal-footer">  
 					<button id="btnGuardar" class="btn btn btn-default TextoDom" type="button" data-ng-click="ok()" ng-disabled="!newForm.$valid">{{btnSave}}</button>  
 					<button id="btnCancelar" class="btn btn btn-default TextoDom" type="button" data-ng-click="cancel()">{{btnCancel}}</button>  
 				</div>  
 			</div>  
 		</form>  
 	</script> 
 	<div class="container" style="margin-top:10px">  
 		<fieldset>			
             <legend >				
                 {{titulo}}			

             </legend>			
             <div class="row">  
 				<div style="clear:both;height:10px;">   
 				</div>   
 				<div id="Grid_K_REQUISICION">    
 				</div>   
 				<div style="clear:both;height:10px;">   
 				</div>   
 				<div class="row">  
 					<div class="col-xs-12 col-md-12  col-ms-7">   
 						<input type="button" id="btnAgregar_Grid_K_REQUISICION"  ng-value="btnAgregar" class="k-button barraBotones longitudBoton" ng-click="Add_Grid_K_REQUISICION()"  />   
 						<input type="button" id="btnModificar_Grid_K_REQUISICION" ng-value="btnModificar" class="k-button barraBotones longitudBoton" ng-click="Edit_Grid_K_REQUISICION()"  />   
 						<input type="button" id="btnEliminar_Grid_K_REQUISICION" ng-value="btnEliminar" class="k-button barraBotones longitudBoton" ng-click="Del_Grid_K_REQUISICION()"  />   
                         <input id="btnExportarExcel_Grid_K_REQUISICION" type="button"  ng-value="BOTONEXPORTAREXCEL" 
	                    onclick="ExportarExcel('Grid_K_REQUISICION')" class="k-button barraBotones longitudBotonMediano" /> 
 						<!-- <input type="button" id="btnActivarDesactivar_Grid_ClasificacionCompetencias" ng-value="btnActivarDesactivar" class="k-button barraBotones longitudBotonMediano" ng-click="ActivarDesactivar_Grid_ClasificacionCompetencias()"  /> -->  
                         <input type="button" id="btnBuscarCandidatoIdeoneo_Grid_ClasificacionCompetencias" ng-value="btnCandidatoIdeoneo" class="k-button barraBotones longitudBotonGrande" ng-click="BuscarCandidatoIdeoneo_Grid_ClasificacionCompetencias()"  />
                           
 					</div>   
 				</div>   
 			</div>   
 		</fieldset>	
 	</div>  
 </div>