-- =============================================
-- Proyecto: Sigein 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CRETAE date: 15/09/2015
-- Description: Inserta un nuevo C_ESCOLARIDAD
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_C_ESCOLARIDAD] 
	@POUT_CLAVE_RETORNO int OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_ID_ESCOLARIDAD AS int
		, @PIN_NB_ESCOLARIDAD AS nvarchar(100)
		, @PIN_DS_ESCOLARIDAD AS nvarchar(200)
		, @PIN_CL_NIVEL_ESCOLARIDAD AS nvarchar(20)
		, @PIN_FG_ACTIVO AS bit
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		, @PIN_ID_NIVEL_ESCOLARIDAD AS int
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN
		, @PIN_ID_INSTITUCION AS int

AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    	BEGIN
			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.C_ESCOLARIDAD
			INSERT INTO ADM.C_ESCOLARIDAD
					   ([NB_ESCOLARIDAD]
						, [DS_ESCOLARIDAD]
						, [CL_NIVEL_ESCOLARIDAD]
						, [FG_ACTIVO]
						, [FE_CREACION]
						, [CL_USUARIO_APP_CREA]
						, [NB_PROGRAMA_CREA]
					)
			VALUES
					   (@PIN_NB_ESCOLARIDAD
						, @PIN_DS_ESCOLARIDAD
						, @PIN_CL_NIVEL_ESCOLARIDAD
						, @PIN_FG_ACTIVO
						,  GETDATE()
						, @PIN_CL_USUARIO_APP_CREA
						, @PIN_NB_PROGRAMA_CREA
					)			
		END ELSE BEGIN
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.C_ESCOLARIDAD
			UPDATE ADM.C_ESCOLARIDAD SET
				[NB_ESCOLARIDAD] = @PIN_NB_ESCOLARIDAD
				, [DS_ESCOLARIDAD] = @PIN_DS_ESCOLARIDAD
				, [CL_NIVEL_ESCOLARIDAD] = @PIN_CL_NIVEL_ESCOLARIDAD
				, [FG_ACTIVO] = @PIN_FG_ACTIVO
				, [FE_MODIFICACION] = GETDATE()
				, [CL_USUARIO_APP_MODIFICA] = @PIN_CL_USUARIO_APP_MODIFICA
				, [NB_PROGRAMA_MODIFICA] = @PIN_NB_PROGRAMA_MODIFICA
			       
			WHERE [ID_ESCOLARIDAD] = @PIN_ID_ESCOLARIDAD
									
		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @POUT_CLAVE_RETORNO = 1
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INDICA EN LA VARIABLE DE RETORNO QUE OCURRIO UN ERROR
		SET @POUT_CLAVE_RETORNO = 0
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()
		EXEC	ADM.SPE_INSERTA_S_ERROR
			@PIN_CL_CLAVE = @ERROR_CLAVE,
			@PIN_DS_ERROR = @ERROR_MENSAJE,
			@PIN_CL_USUARIO_APP_CREA =@PIN_CL_USUARIO_APP_CREA,
			@PIN_NB_PROGRAMA_CREA = @PIN_NB_PROGRAMA_CREA
			
	END CATCH
END