-- =============================================
-- Proyecto: Sistema Nomina
-- Copyright (c) - Acrux - 2014
-- Author: Jesús Vázquez Pereyra
-- CRETAE date: 13/11/2015
-- Description: Inserta un nuevo registro en la tabla K_EXPERIENCIA_LABORAL
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_K_EXPERIENCIA_LABORAL] 
    	@XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
  --  	, @PIN_ID_EXPERIENCIA_LABORAL AS int
		--, @PIN_ID_CANDIDATO AS int
		--, @PIN_ID_EMPLEADO AS int
		--, @PIN_NB_EMPRESA AS nvarchar(100)
		--, @PIN_DS_DOMICILIO AS nvarchar(500)
		--, @PIN_NB_GIRO AS nvarchar(50)
		--, @PIN_FE_INICIO AS date
		--, @PIN_FE_FIN AS date
		--, @PIN_NB_PUESTO AS nvarchar(100)
		--, @PIN_NB_FUNCION AS nvarchar(100)
		--, @PIN_DS_FUNCIONES AS nvarchar(1000)
		--, @PIN_MN_PRIMER_SUELDO AS decimal(13,2)
		--, @PIN_MN_ULTIMO_SUELDO AS decimal(13,2)
		--, @PIN_CL_TIPO_CONTRATO AS nvarchar(20)
		--, @PIN_CL_TIPO_CONTRATO_OTRO AS nvarchar(50)
		--, @PIN_NO_TELEFONO_CONTACTO AS nvarchar(20)
		--, @PIN_CL_CORREO_ELECTRONICO AS nvarchar(200)
		--, @PIN_NB_CONTACTO AS nvarchar(100)
		--, @PIN_NB_PUESTO_CONTACTO AS nvarchar(100)
		--, @PIN_CL_INFORMACION_CONFIRMADA AS bit
		--, @PIN_DS_COMENTARIOS AS nvarchar(1000)
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		--, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN
		, @P_XML_ARCHIVO XML
AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	

		DECLARE @TABLA TABLE (ID_EXPERIENCIA_LABORAL INT, ID_CANDIDATO INT, ID_EMPLEADO INT, NB_EMPRESA NVARCHAR(100), DS_DOMICILIO NVARCHAR(500)
		                    , NB_GIRO NVARCHAR(50), FE_INICIO DATE, FE_FIN DATE, NB_PUESTO NVARCHAR(100), NB_FUNCION NVARCHAR(100), DS_FUNCIONES NVARCHAR(1000)
							, MN_PRIMER_SUELDO DECIMAL(13,2), MN_ULTIMO_SUELDO DECIMAL(13,2), CL_TIPO_CONTRATO NVARCHAR(20), CL_TIPO_CONTRATO_OTRO NVARCHAR(20)
							, NO_TELEFONO_CONTACTO NVARCHAR(20), CL_CORREO_ELECTRONICO NVARCHAR(200), NB_CONTACTO NVARCHAR(100), NB_PUESTO_CONTACTO NVARCHAR(100)
							, CL_INFORMACION_CONFIRMADA BIT, DS_COMENTARIOS NVARCHAR(1000))

		DECLARE @V_ID_EXPERIENCIA_LABORAL INT, @V_ID_CANDIDATO INT, @V_ID_EMPLEADO INT, @V_NB_EMPRESA NVARCHAR(100), @V_DS_DOMICILIO NVARCHAR(500)
		      , @V_NB_GIRO NVARCHAR(50), @V_FE_INICIO DATE, @V_FE_FIN DATE, @V_NB_PUESTO NVARCHAR(100), @V_NB_FUNCION NVARCHAR(100), @V_DS_FUNCIONES NVARCHAR(1000)
			  , @V_MN_PRIMER_SUELDO DECIMAL(13,2), @V_MN_ULTIMO_SUELDO DECIMAL(13,2), @V_CL_TIPO_CONTRATO NVARCHAR(20), @V_CL_TIPO_CONTRATO_OTRO NVARCHAR(20)
			  , @V_NO_TELEFONO_CONTACTO NVARCHAR(20), @V_CL_CORREO_ELECTRONICO NVARCHAR(200), @V_NB_CONTACTO NVARCHAR(100), @V_NB_PUESTO_CONTACTO NVARCHAR(100)
			  , @V_CL_INFORMACION_CONFIRMADA BIT, @V_DS_COMENTARIOS NVARCHAR(1000)

		INSERT INTO @TABLA(ID_EXPERIENCIA_LABORAL, ID_CANDIDATO, ID_EMPLEADO, NB_EMPRESA, DS_DOMICILIO, NB_GIRO, FE_INICIO, FE_FIN, NB_PUESTO, NB_FUNCION
		                 , DS_FUNCIONES, MN_PRIMER_SUELDO, MN_ULTIMO_SUELDO, CL_TIPO_CONTRATO, CL_TIPO_CONTRATO_OTRO, NO_TELEFONO_CONTACTO, CL_CORREO_ELECTRONICO
						 , NB_CONTACTO, NB_PUESTO_CONTACTO, CL_INFORMACION_CONFIRMADA, DS_COMENTARIOS)
		SELECT LINEAS.value('@ID_EXPERIENCIA_LABORAL','INT')
		     , CASE WHEN LINEAS.value('@ID_CANDIDATO','INT') = 0 THEN NULL
					ELSE LINEAS.value('@ID_CANDIDATO','INT') END AS ID_CANDIDATO
			 , CASE WHEN LINEAS.value('@ID_EMPLEADO','INT') = 0 THEN NULL
					ELSE LINEAS.value('@ID_EMPLEADO','INT') END AS ID_EMPLEADO
			 , LINEAS.value('@NB_EMPRESA','NVARCHAR(100)')
			 , LINEAS.value('@DS_DOMICILIO','NVARCHAR(500)')
			 , LINEAS.value('@NB_GIRO','NVARCHAR(50)')
			 , LINEAS.value('@FE_INICIO','DATE')
			 , LINEAS.value('@FE_FIN','DATE')
			 , LINEAS.value('@NB_PUESTO','NVARCHAR(100)')
			 , LINEAS.value('@NB_FUNCION','NVARCHAR(100)')
			 , LINEAS.value('@DS_FUNCIONES','NVARCHAR(1000)')
			 , LINEAS.value('@MN_PRIMER_SUELDO','DECIMAL(13,2)')
			 , LINEAS.value('@MN_ULTIMO_SUELDO','DECIMAL(13,2)')
			 , LINEAS.value('@CL_TIPO_CONTRATO','NVARCHAR(20)')
			 , LINEAS.value('@CL_TIPO_CONTRATO_OTRO','NVARCHAR(50)')
			 , LINEAS.value('@NO_TELEFONO_CONTACTO','NVARCHAR(20)')
			 , LINEAS.value('@CL_CORREO_ELECTRONICO','NVARCHAR(200)')
			 , LINEAS.value('@NB_CONTACTO','NVARCHAR(100)')
			 , LINEAS.value('@NB_PUESTO_CONTACTO','NVARCHAR(100)')
			 , LINEAS.value('@CL_INFORMACION_CONFIRMADA','BIT')
			 , LINEAS.value('@DS_COMENTARIOS','NVARCHAR(1000)')
		FROM @P_XML_ARCHIVO.nodes('/EXPERIENCIA/TRABAJO') AS LINEA(LINEAS)

		DECLARE DETALLE CURSOR FOR
			SELECT ID_EXPERIENCIA_LABORAL, ID_CANDIDATO, ID_EMPLEADO, NB_EMPRESA, DS_DOMICILIO, NB_GIRO, FE_INICIO, FE_FIN, NB_PUESTO, NB_FUNCION
		         , DS_FUNCIONES, MN_PRIMER_SUELDO, MN_ULTIMO_SUELDO, CL_TIPO_CONTRATO, CL_TIPO_CONTRATO_OTRO, NO_TELEFONO_CONTACTO, CL_CORREO_ELECTRONICO
			     , NB_CONTACTO, NB_PUESTO_CONTACTO, CL_INFORMACION_CONFIRMADA, DS_COMENTARIOS FROM @TABLA
		OPEN DETALLE

		FETCH NEXT FROM DETALLE
		INTO  @V_ID_EXPERIENCIA_LABORAL,@V_ID_CANDIDATO,@V_ID_EMPLEADO,@V_NB_EMPRESA,@V_DS_DOMICILIO,@V_NB_GIRO,@V_FE_INICIO,@V_FE_FIN,@V_NB_PUESTO,@V_NB_FUNCION,@V_DS_FUNCIONES,@V_MN_PRIMER_SUELDO, @V_MN_ULTIMO_SUELDO, 
			  @V_CL_TIPO_CONTRATO, @V_CL_TIPO_CONTRATO_OTRO, @V_NO_TELEFONO_CONTACTO, @V_CL_CORREO_ELECTRONICO, @V_NB_CONTACTO, @V_NB_PUESTO_CONTACTO,@V_CL_INFORMACION_CONFIRMADA, @V_DS_COMENTARIOS

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF @V_ID_EXPERIENCIA_LABORAL = 0
			BEGIN
				 INSERT INTO ADM.K_EXPERIENCIA_LABORAL
						   ([ID_CANDIDATO]
							, [ID_EMPLEADO]
							, [NB_EMPRESA]
							, [DS_DOMICILIO]
							, [NB_GIRO]
							, [FE_INICIO]
							, [FE_FIN]
							, [NB_PUESTO]
							, [NB_FUNCION]
							, [DS_FUNCIONES]
							, [MN_PRIMER_SUELDO]
							, [MN_ULTIMO_SUELDO]
							, [CL_TIPO_CONTRATO]
							, [CL_TIPO_CONTRATO_OTRO]
							, [NO_TELEFONO_CONTACTO]
							, [CL_CORREO_ELECTRONICO]
							, [NB_CONTACTO]
							, [NB_PUESTO_CONTACTO]
							, [CL_INFORMACION_CONFIRMADA]
							, [DS_COMENTARIOS]
							, [FE_CREACION]
							, [CL_USUARIO_APP_CREA]
							, [NB_PROGRAMA_CREA]
						)
				VALUES
						   (@V_ID_CANDIDATO
							, @V_ID_EMPLEADO
							, @V_NB_EMPRESA
							, @V_DS_DOMICILIO
							, @V_NB_GIRO
							, @V_FE_INICIO
							, @V_FE_FIN
							, @V_NB_PUESTO
							, @V_NB_FUNCION
							, @V_DS_FUNCIONES
							, @V_MN_PRIMER_SUELDO
							, @V_MN_ULTIMO_SUELDO
							, @V_CL_TIPO_CONTRATO
							, @V_CL_TIPO_CONTRATO_OTRO
							, @V_NO_TELEFONO_CONTACTO
							, @V_CL_CORREO_ELECTRONICO
							, @V_NB_CONTACTO
							, @V_NB_PUESTO_CONTACTO
							, @V_CL_INFORMACION_CONFIRMADA
							, @V_DS_COMENTARIOS
							,  GETDATE()
							, @PIN_CL_USUARIO_APP_CREA
							, @PIN_NB_PROGRAMA_CREA
						)		

			END
			ELSE
			BEGIN
								UPDATE ADM.K_EXPERIENCIA_LABORAL SET
								[ID_CANDIDATO] = @V_ID_CANDIDATO
								, [ID_EMPLEADO] = @V_ID_EMPLEADO
								, [NB_EMPRESA] = @V_NB_EMPRESA
								, [DS_DOMICILIO] = @V_DS_DOMICILIO
								, [NB_GIRO] = @V_NB_GIRO
								, [FE_INICIO] = @V_FE_INICIO
								, [FE_FIN] = @V_FE_FIN
								, [NB_PUESTO] = @V_NB_PUESTO
								, [NB_FUNCION] = @V_NB_FUNCION
								, [DS_FUNCIONES] = @V_DS_FUNCIONES
								, [MN_PRIMER_SUELDO] = @V_MN_PRIMER_SUELDO
								, [MN_ULTIMO_SUELDO] = @V_MN_ULTIMO_SUELDO
								, [CL_TIPO_CONTRATO] = @V_CL_TIPO_CONTRATO
								, [CL_TIPO_CONTRATO_OTRO] = @V_CL_TIPO_CONTRATO_OTRO
								, [NO_TELEFONO_CONTACTO] = @V_NO_TELEFONO_CONTACTO
								, [CL_CORREO_ELECTRONICO] = @V_CL_CORREO_ELECTRONICO
								, [NB_CONTACTO] = @V_NB_CONTACTO
								, [NB_PUESTO_CONTACTO] = @V_NB_PUESTO_CONTACTO
								, [CL_INFORMACION_CONFIRMADA] = @V_CL_INFORMACION_CONFIRMADA
								, [DS_COMENTARIOS] = @V_DS_COMENTARIOS
								, [FE_MODIFICACION] = GETDATE()
								, [CL_USUARIO_APP_MODIFICA] = @PIN_CL_USUARIO_APP_MODIFICA
								, [NB_PROGRAMA_MODIFICA] = @PIN_NB_PROGRAMA_MODIFICA
			       
							WHERE [ID_EXPERIENCIA_LABORAL] = @V_ID_EXPERIENCIA_LABORAL
			END

		FETCH NEXT FROM DETALLE
			INTO @V_ID_EXPERIENCIA_LABORAL,@V_ID_CANDIDATO,@V_ID_EMPLEADO,@V_NB_EMPRESA,@V_DS_DOMICILIO,@V_NB_GIRO,@V_FE_INICIO,@V_FE_FIN,@V_NB_PUESTO,@V_NB_FUNCION,@V_DS_FUNCIONES,@V_MN_PRIMER_SUELDO, @V_MN_ULTIMO_SUELDO, 
			  @V_CL_TIPO_CONTRATO, @V_CL_TIPO_CONTRATO_OTRO, @V_NO_TELEFONO_CONTACTO, @V_CL_CORREO_ELECTRONICO, @V_NB_CONTACTO, @V_NB_PUESTO_CONTACTO,@V_CL_INFORMACION_CONFIRMADA, @V_DS_COMENTARIOS
		END;

		CLOSE DETALLE;
		DEALLOCATE DETALLE;

		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, ERROR_NUMBER(), 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()

		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END
