-- =============================================
-- Proyecto: Sistema Nomina
-- Copyright (c) - Acrux - 2014
-- Author: Jesús Vázquez Pereyra
-- CRETAE date: 17/09/2015
-- Description: Inserta un nuevo S_ERROR
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_S_ERROR] 
    	
        @PIN_CL_CLAVE AS int,
        @PIN_DS_ERROR AS nvarchar(250),
        @PIN_CL_USUARIO_APP_CREA AS nvarchar(50),
        @PIN_NB_PROGRAMA_CREA AS nvarchar(50)AS 
BEGIN  
	DECLARE @V_EXIST_TRAN BIT = 0
    BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE SETEA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		--SE DECLARA LA LLAVE PRIMARIA DEL ERROR
		DECLARE @PIN_ID_ERROR AS uniqueidentifier = NEWID()
		--SE INSERTA EL ERROR EN LA TABLA S_ERROR
		INSERT INTO ADM.K_ERROR
			([ID_ERROR],[CL_CLAVE],[DS_ERROR],[FE_CREACION],[CL_USUARIO_APP_CREA],[NB_PROGRAMA_CREA])
		VALUES
			(@PIN_ID_ERROR,@PIN_CL_CLAVE,@PIN_DS_ERROR,GETDATE(),@PIN_CL_USUARIO_APP_CREA,@PIN_NB_PROGRAMA_CREA)
		--SE SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK	  
	END CATCH
END
