-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CREATE date: 05/11/2015
-- Description: Obtiene los datos de la tabla C_DOCUMENTO 
-- =============================================
ALTER PROCEDURE [ADM].[SPE_OBTIENE_C_DOCUMENTO] 
	@PIN_ID_DOCUMENTO AS int = NULL
	, @PIN_NB_DOCUMENTO AS nvarchar(50) = NULL
	, @PIN_CL_DOCUMENTO AS nvarchar(20) = NULL
	, @PIN_ID_CANDIDATO AS int = NULL
	, @PIN_ID_EMPLEADO AS int = NULL
	, @PIN_CL_RUTA AS nvarchar(512) = NULL
	, @PIN_CL_TIPO_RUTA AS nvarchar(10) = NULL
	, @PIN_FE_RECEPCION AS datetime = NULL
	, @PIN_ID_INSTITUCION AS int = NULL
	, @PIN_ID_BITACORA AS int = NULL
	, @PIN_FG_ACTIVO AS bit = NULL
	
AS   
	--SE DEVUELVE LOS REGISTROS EN BASE A LOS PARAMETROS INSERTADOS
	SELECT 
		[ID_DOCUMENTO]
		, [NB_DOCUMENTO]
		, [CL_DOCUMENTO]
		, [ID_CANDIDATO]
		, [ID_EMPLEADO]
		, [CL_RUTA]
		, [CL_TIPO_RUTA]
		, [FE_RECEPCION]
		, [ID_INSTITUCION]
		, [ID_BITACORA]
		, [FG_ACTIVO]
		, file_stream 
		,'' as DS_FILTRO
	FROM ADM.C_DOCUMENTO C
	JOIN FS_ARCHIVOS F ON C.CL_RUTA = F.STREAM_ID
	WHERE (@PIN_ID_DOCUMENTO IS NULL OR (@PIN_ID_DOCUMENTO IS NOT NULL AND [ID_DOCUMENTO] = @PIN_ID_DOCUMENTO))
			 AND (@PIN_NB_DOCUMENTO IS NULL OR (@PIN_NB_DOCUMENTO IS NOT NULL AND [NB_DOCUMENTO] = @PIN_NB_DOCUMENTO))
			 AND (@PIN_CL_DOCUMENTO IS NULL OR (@PIN_CL_DOCUMENTO IS NOT NULL AND [CL_DOCUMENTO] = @PIN_CL_DOCUMENTO))
			 AND (@PIN_ID_CANDIDATO IS NULL OR (@PIN_ID_CANDIDATO IS NOT NULL AND [ID_CANDIDATO] = @PIN_ID_CANDIDATO))
			 AND (@PIN_ID_EMPLEADO IS NULL OR (@PIN_ID_EMPLEADO IS NOT NULL AND [ID_EMPLEADO] = @PIN_ID_EMPLEADO))
			 AND (@PIN_CL_RUTA IS NULL OR (@PIN_CL_RUTA IS NOT NULL AND [CL_RUTA] = @PIN_CL_RUTA))
			 AND (@PIN_CL_TIPO_RUTA IS NULL OR (@PIN_CL_TIPO_RUTA IS NOT NULL AND [CL_TIPO_RUTA] = @PIN_CL_TIPO_RUTA))
			 AND (@PIN_FE_RECEPCION IS NULL OR (@PIN_FE_RECEPCION IS NOT NULL AND [FE_RECEPCION] = @PIN_FE_RECEPCION))
			 AND (@PIN_ID_INSTITUCION IS NULL OR (@PIN_ID_INSTITUCION IS NOT NULL AND [ID_INSTITUCION] = @PIN_ID_INSTITUCION))
			 AND (@PIN_ID_BITACORA IS NULL OR (@PIN_ID_BITACORA IS NOT NULL AND [ID_BITACORA] = @PIN_ID_BITACORA))
			 AND (@PIN_FG_ACTIVO IS NULL OR (@PIN_FG_ACTIVO IS NOT NULL AND [FG_ACTIVO] = @PIN_FG_ACTIVO))
			
