-- =============================================
-- Proyecto: Sigein 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CRETAE date: 15/09/2015
-- Description: Inserta un nuevo M_EMPLEADO
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_M_EMPLEADO] 
	      @XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_ID_EMPLEADO AS int
		, @PIN_CL_EMPLEADO AS nvarchar(20)
		, @PIN_NB_EMPLEADO AS nvarchar(100)
		, @PIN_NB_APELLIDO_PATERNO AS nvarchar(100)
		, @PIN_NB_APELLIDO_MATERNO AS nvarchar(100)
		, @PIN_CL_ESTADO_EMPLEADO AS nvarchar(20)
		, @PIN_CL_GENERO AS nvarchar(1)
		, @PIN_CL_ESTADO_CIVIL AS nvarchar(20)
		, @PIN_NB_CONYUGUE AS nvarchar(100)
		, @PIN_CL_RFC AS nvarchar(20)
		, @PIN_CL_CURP AS nvarchar(20)
		, @PIN_CL_NSS AS nvarchar(20)
		, @PIN_CL_TIPO_SANGUINEO AS nvarchar(10)
		, @PIN_CL_NACIONALIDAD AS nvarchar(30)
		, @PIN_NB_PAIS AS nvarchar(100)
		, @PIN_NB_ESTADO AS nvarchar(100)
		, @PIN_NB_MUNICIPIO AS nvarchar(100)
		, @PIN_NB_COLONIA AS nvarchar(100)
		, @PIN_NB_CALLE AS nvarchar(100)
		, @PIN_NO_INTERIOR AS nvarchar(20)
		, @PIN_NO_EXTERIOR AS nvarchar(20)
		, @PIN_CL_CODIGO_POSTAL AS nvarchar(10)
		, @PIN_XML_TELEFONOS AS xml
		, @PIN_CL_CORREO_ELECTRONICO AS nvarchar(200)
		, @PIN_FG_ACTIVO AS bit
		, @PIN_FE_NACIMIENTO AS date
		, @PIN_DS_LUGAR_NACIMIENTO AS nvarchar(200)
		, @PIN_FE_ALTA AS date
		, @PIN_FE_BAJA AS date
		, @PIN_ID_PUESTO AS int
		, @PIN_MN_SUELDO AS decimal(13,2)
		, @PIN_MN_SUELDO_VARIABLE AS decimal(13,2)
		, @PIN_DS_SUELDO_COMPOSICION AS nvarchar(512)
		, @PIN_ID_CANDIDATO AS int
		, @PIN_ID_EMPRESA AS int
		, @PIN_XML_CAMPOS_ADICIONALES AS xml
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN

AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    	BEGIN
			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.M_EMPLEADO
			INSERT INTO ADM.M_EMPLEADO
					   ([NB_EMPLEADO]
						, [NB_APELLIDO_PATERNO]
						, [NB_APELLIDO_MATERNO]
						, [CL_ESTADO_EMPLEADO]
						, [CL_GENERO]
						, [CL_ESTADO_CIVIL]
						, [NB_CONYUGUE]
						, [CL_RFC]
						, [CL_CURP]
						, [CL_NSS]
						, [CL_TIPO_SANGUINEO]
						, [CL_NACIONALIDAD]
						, [NB_PAIS]
						, [NB_ESTADO]
						, [NB_MUNICIPIO]
						, [NB_COLONIA]
						, [NB_CALLE]
						, [NO_INTERIOR]
						, [NO_EXTERIOR]
						, [CL_CODIGO_POSTAL]
						, [XML_TELEFONOS]
						, [CL_CORREO_ELECTRONICO]
						, [FG_ACTIVO]
						, [FE_NACIMIENTO]
						, [DS_LUGAR_NACIMIENTO]
						, [FE_ALTA]
						, [FE_BAJA]
						, [ID_PUESTO]
						, [MN_SUELDO]
						, [MN_SUELDO_VARIABLE]
						, [DS_SUELDO_COMPOSICION]
						, [ID_CANDIDATO]
						, [ID_EMPRESA]
						, [XML_CAMPOS_ADICIONALES]
						, [FE_CREACION]
						, [CL_USUARIO_APP_CREA]
						, [NB_PROGRAMA_CREA]
					)
			VALUES
					   (@PIN_NB_EMPLEADO
						, @PIN_NB_APELLIDO_PATERNO
						, @PIN_NB_APELLIDO_MATERNO
						, @PIN_CL_ESTADO_EMPLEADO
						, @PIN_CL_GENERO
						, @PIN_CL_ESTADO_CIVIL
						, @PIN_NB_CONYUGUE
						, @PIN_CL_RFC
						, @PIN_CL_CURP
						, @PIN_CL_NSS
						, @PIN_CL_TIPO_SANGUINEO
						, @PIN_CL_NACIONALIDAD
						, @PIN_NB_PAIS
						, @PIN_NB_ESTADO
						, @PIN_NB_MUNICIPIO
						, @PIN_NB_COLONIA
						, @PIN_NB_CALLE
						, @PIN_NO_INTERIOR
						, @PIN_NO_EXTERIOR
						, @PIN_CL_CODIGO_POSTAL
						, @PIN_XML_TELEFONOS
						, @PIN_CL_CORREO_ELECTRONICO
						, @PIN_FG_ACTIVO
						, @PIN_FE_NACIMIENTO
						, @PIN_DS_LUGAR_NACIMIENTO
						, @PIN_FE_ALTA
						, @PIN_FE_BAJA
						, @PIN_ID_PUESTO
						, @PIN_MN_SUELDO
						, @PIN_MN_SUELDO_VARIABLE
						, @PIN_DS_SUELDO_COMPOSICION
						, @PIN_ID_CANDIDATO
						, @PIN_ID_EMPRESA
						, @PIN_XML_CAMPOS_ADICIONALES
						,  GETDATE()
						, @PIN_CL_USUARIO_APP_CREA
						, @PIN_NB_PROGRAMA_CREA
					)			
		END ELSE BEGIN
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.M_EMPLEADO
			UPDATE ADM.M_EMPLEADO SET
				[NB_EMPLEADO] = @PIN_NB_EMPLEADO
				, [NB_APELLIDO_PATERNO] = @PIN_NB_APELLIDO_PATERNO
				, [NB_APELLIDO_MATERNO] = @PIN_NB_APELLIDO_MATERNO
				, [CL_ESTADO_EMPLEADO] = @PIN_CL_ESTADO_EMPLEADO
				, [CL_GENERO] = @PIN_CL_GENERO
				, [CL_ESTADO_CIVIL] = @PIN_CL_ESTADO_CIVIL
				, [NB_CONYUGUE] = @PIN_NB_CONYUGUE
				, [CL_RFC] = @PIN_CL_RFC
				, [CL_CURP] = @PIN_CL_CURP
				, [CL_NSS] = @PIN_CL_NSS
				, [CL_TIPO_SANGUINEO] = @PIN_CL_TIPO_SANGUINEO
				, [CL_NACIONALIDAD] = @PIN_CL_NACIONALIDAD
				, [NB_PAIS] = @PIN_NB_PAIS
				, [NB_ESTADO] = @PIN_NB_ESTADO
				, [NB_MUNICIPIO] = @PIN_NB_MUNICIPIO
				, [NB_COLONIA] = @PIN_NB_COLONIA
				, [NB_CALLE] = @PIN_NB_CALLE
				, [NO_INTERIOR] = @PIN_NO_INTERIOR
				, [NO_EXTERIOR] = @PIN_NO_EXTERIOR
				, [CL_CODIGO_POSTAL] = @PIN_CL_CODIGO_POSTAL
				, [XML_TELEFONOS] = @PIN_XML_TELEFONOS
				, [CL_CORREO_ELECTRONICO] = @PIN_CL_CORREO_ELECTRONICO
				, [FG_ACTIVO] = @PIN_FG_ACTIVO
				, [FE_NACIMIENTO] = @PIN_FE_NACIMIENTO
				, [DS_LUGAR_NACIMIENTO] = @PIN_DS_LUGAR_NACIMIENTO
				, [FE_ALTA] = @PIN_FE_ALTA
				, [FE_BAJA] = @PIN_FE_BAJA
				, [ID_PUESTO] = @PIN_ID_PUESTO
				, [MN_SUELDO] = @PIN_MN_SUELDO
				, [MN_SUELDO_VARIABLE] = @PIN_MN_SUELDO_VARIABLE
				, [DS_SUELDO_COMPOSICION] = @PIN_DS_SUELDO_COMPOSICION
				, [ID_CANDIDATO] = @PIN_ID_CANDIDATO
				, [ID_EMPRESA] = @PIN_ID_EMPRESA
				, [XML_CAMPOS_ADICIONALES] = @PIN_XML_CAMPOS_ADICIONALES
				, [FE_MODIFICACION] = GETDATE()
				, [CL_USUARIO_APP_MODIFICA] = @PIN_CL_USUARIO_APP_MODIFICA
				, [NB_PROGRAMA_MODIFICA] = @PIN_NB_PROGRAMA_MODIFICA
			       
			WHERE [ID_EMPLEADO] = @PIN_ID_EMPLEADO
				
									
		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, ERROR_NUMBER(), 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INDICA EN LA VARIABLE DE RETORNO QUE OCURRIO UN ERROR
		--SET @POUT_CLAVE_RETORNO = 0
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()
		
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END
