-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Abraham Ramirez
-- CRETAE date: 21/09/2015
-- Description: Inserta un nuevo registro en la tabla S_TIPO_COMPETENCIA
-- =============================================
-- Alter: 01-10-2015 MS- Se agregan la columna CL_TIPO_COMPETENCIA 
-- =============================================
-- Alter: 08-10-2015 jvp- Se agregan la columna FG_ACTIVO
-- =============================================
-- 20/11/2015 MS - Se modifica el valor de retorno
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_S_TIPO_COMPETENCIA] 
	      @XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_CL_TIPO_COMPETENCIA AS nvarchar(20)
		, @PIN_NB_TIPO_COMPETENCIA AS nvarchar(100)
		, @PIN_DS_TIPO_COMPETENCIA AS nvarchar(200)
		, @PIN_FG_ACTIVO AS BIT
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50) --USUARIO QUE MANDA A ELIMINAR EL REGISTRO
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)

AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	

		DECLARE @V_CL_TIPO_COMPETENCIA INT 
			   ,@V_NB_TIPO_COMPETENCIA INT
			   ,@V_TIPO_COMPETENCIA INT

		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    	BEGIN

		SET @V_CL_TIPO_COMPETENCIA = (SELECT COUNT(*) FROM ADM.S_TIPO_COMPETENCIA WHERE CL_TIPO_COMPETENCIA = @PIN_CL_TIPO_COMPETENCIA)
		SET @V_NB_TIPO_COMPETENCIA = (SELECT COUNT(*) FROM ADM.S_TIPO_COMPETENCIA WHERE NB_TIPO_COMPETENCIA = @PIN_NB_TIPO_COMPETENCIA)
		SET @V_TIPO_COMPETENCIA = (SELECT COUNT(*) FROM ADM.S_TIPO_COMPETENCIA WHERE DS_TIPO_COMPETENCIA = @PIN_DS_TIPO_COMPETENCIA)

		IF @V_CL_TIPO_COMPETENCIA > 0
		BEGIN
			SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, 2, 'WARNING')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Nombre repetido', 'ES')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Nombre repetido', 'EN')
			ROLLBACK TRANSACTION
			RETURN;
		END

		-- VALIDA LA EXISTENCIA DE ALGUN REGISTRO CON EL MISMO NOMBRE
		IF @V_NB_TIPO_COMPETENCIA > 0
		BEGIN
			SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, 3, 'WARNING')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Nombre repetido', 'ES')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Nombre repetido', 'EN')
			ROLLBACK TRANSACTION
			RETURN;
		END

		-- VALIDA LA EXISTENCIA DE ALGUN REGISTRO CON LA MISMA DESCRIPCIÓN
		IF @V_TIPO_COMPETENCIA > 0
		BEGIN
			SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, 4, 'WARNING')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Descripción repetida', 'ES')
			SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Descripción repetida', 'EN')
			ROLLBACK TRANSACTION
			RETURN;
		END


			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.S_TIPO_COMPETENCIA
			INSERT INTO ADM.S_TIPO_COMPETENCIA
					   ( [CL_TIPO_COMPETENCIA]
					    ,[NB_TIPO_COMPETENCIA]
						, [DS_TIPO_COMPETENCIA]
						, FG_ACTIVO 
					)
			VALUES
					   ( @PIN_CL_TIPO_COMPETENCIA
					    ,@PIN_NB_TIPO_COMPETENCIA
						, @PIN_DS_TIPO_COMPETENCIA
						,@PIN_FG_ACTIVO
					)			
		END ELSE BEGIN
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.S_TIPO_COMPETENCIA
			UPDATE ADM.S_TIPO_COMPETENCIA SET
				  [CL_TIPO_COMPETENCIA] = @PIN_CL_TIPO_COMPETENCIA
				, [NB_TIPO_COMPETENCIA] = @PIN_NB_TIPO_COMPETENCIA
				, [DS_TIPO_COMPETENCIA] = @PIN_DS_TIPO_COMPETENCIA
				, FG_ACTIVO = @PIN_FG_ACTIVO
			       
			WHERE [CL_TIPO_COMPETENCIA] = @PIN_CL_TIPO_COMPETENCIA
									
		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, 1, 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INDICA EN LA VARIABLE DE RETORNO QUE OCURRIO UN ERROR
		--SET @POUT_CLAVE_RETORNO = 0
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()
		
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END
