-- =============================================
-- Proyecto: Sigein 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CRETAE date: 14/09/2015
-- Description: Inserta un nuevo C_COLONIA
-- =============================================
-- 20/11/2015 MS - Se cambia el valor de retorno
-- =============================================

ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_C_COLONIA] 
		@XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_ID_COLONIA AS int
		, @PIN_CL_PAIS AS nvarchar(10)
		, @PIN_CL_ESTADO AS nvarchar(10)
		, @PIN_CL_MUNICIPIO AS nvarchar(10)
		, @PIN_CL_COLONIA AS nvarchar(30)
		, @PIN_NB_COLONIA AS nvarchar(100)
		, @PIN_CL_TIPO_ASENTAMIENTO AS nvarchar(30)
		, @PIN_CL_CODIGO_POSTAL AS nvarchar(10)
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN

AS 
BEGIN  
	--SE SACAN EL PAIS Y ESTADO EN BASE AL MUNICIPIO
	SELECT @PIN_CL_PAIS = CL_PAIS, @PIN_CL_ESTADO = CL_ESTADO  FROM ADM.C_MUNICIPIO WHERE CL_MUNICIPIO = @PIN_CL_MUNICIPIO


	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    	BEGIN
			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.C_COLONIA
			--DECLARE @PIN_CL_MUNICIPIO AS NVARCHAR(20)
			--SE SACA EL NUMERO MAXIMO MAS UNO DE LA COLONIA SEGUN SU CONSECUTIVO
			--SET @PIN_CL_MUNICIPIO = 'AGS_001'
			DECLARE @CONSECUTIVO AS INT = ISNULL( (SELECT MAX(CAST(SUBSTRING(CL_COLONIA, LEN(@PIN_CL_MUNICIPIO)+2, 5) AS INT)) FROM  ADM.C_COLONIA WHERE CL_MUNICIPIO = @PIN_CL_MUNICIPIO), 0) +1
			--SELECT right( '000' + cast( @CONSECUTIVO AS varchar(4)), 4 )
			--SELECT right( '00' + cast( 8 AS varchar(2)), 2 )
			
			--select * from ADM.C_COLONIA
			
			
			SET @PIN_CL_COLONIA = @PIN_CL_MUNICIPIO+'_'+right( '000' + cast( @CONSECUTIVO AS varchar(4)), 4 )			
			print (@PIN_CL_COLONIA)
			INSERT INTO ADM.C_COLONIA
					   ([CL_PAIS], [CL_ESTADO], [CL_MUNICIPIO], [CL_COLONIA], [NB_COLONIA], [CL_TIPO_ASENTAMIENTO]
					   ,CL_CODIGO_POSTAL, [FE_CREACION], [CL_USUARIO_APP_CREA], [NB_PROGRAMA_CREA]
					)
			VALUES
					   (@PIN_CL_PAIS, @PIN_CL_ESTADO, @PIN_CL_MUNICIPIO, @PIN_CL_COLONIA, @PIN_NB_COLONIA
						, @PIN_CL_TIPO_ASENTAMIENTO,@PIN_CL_CODIGO_POSTAL,  GETDATE(), @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA
					)			
		END ELSE BEGIN
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.C_COLONIA
			UPDATE ADM.C_COLONIA SET
				[CL_PAIS] = @PIN_CL_PAIS
				, [CL_ESTADO] = @PIN_CL_ESTADO
				, [CL_MUNICIPIO] = @PIN_CL_MUNICIPIO
				, [CL_COLONIA] = @PIN_CL_COLONIA
				, [NB_COLONIA] = @PIN_NB_COLONIA
				, CL_CODIGO_POSTAL = @PIN_CL_CODIGO_POSTAL
				, [CL_TIPO_ASENTAMIENTO] = @PIN_CL_TIPO_ASENTAMIENTO
				, [FE_MODIFICACION] = GETDATE()
				, [CL_USUARIO_APP_MODIFICA] = @PIN_CL_USUARIO_APP_MODIFICA
				, [NB_PROGRAMA_MODIFICA] = @PIN_NB_PROGRAMA_MODIFICA
			       
			WHERE [ID_COLONIA] = @PIN_ID_COLONIA
									
		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, ERROR_NUMBER(), 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()

		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END
