-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CREATE date: 21/09/2015
-- Description: Obtiene los datos de la tabla K_EVALUADO_EVALUADOR 
-- =============================================
ALTER PROCEDURE [ADM].[SPE_OBTIENE_K_EVALUADO_EVALUADOR] 
	@PIN_ID_EVALAUDO_EVALUADOR AS int = NULL
	, @PIN_ID_PERIODO AS int = NULL
	, @PIN_ID_EVALUADOR_PERIODO AS int = NULL
	, @PIN_ID_PUESTO_EVALUADOR AS int = NULL
	, @PIN_NO_VALOR AS decimal(8,3) = NULL
	
AS   
	--SE DEVUELVE LOS REGISTROS EN BASE A LOS PARAMETROS INSERTADOS
	SELECT 
		[ID_EVALUADO_EVALUADOR]
		, [ID_PERIODO]
		, [ID_EVALUADOR_PERIODO]
		, [ID_PUESTO_EVALUADOR]
		, [NO_VALOR]
		,'' as DS_FILTRO
	FROM ADM.K_EVALUADO_EVALUADOR
	WHERE (@PIN_ID_EVALAUDO_EVALUADOR IS NULL OR (@PIN_ID_EVALAUDO_EVALUADOR IS NOT NULL AND [ID_EVALUADO_EVALUADOR] = @PIN_ID_EVALAUDO_EVALUADOR))
			 AND (@PIN_ID_PERIODO IS NULL OR (@PIN_ID_PERIODO IS NOT NULL AND [ID_PERIODO] = @PIN_ID_PERIODO))
			 AND (@PIN_ID_EVALUADOR_PERIODO IS NULL OR (@PIN_ID_EVALUADOR_PERIODO IS NOT NULL AND [ID_EVALUADOR_PERIODO] = @PIN_ID_EVALUADOR_PERIODO))
			 AND (@PIN_ID_PUESTO_EVALUADOR IS NULL OR (@PIN_ID_PUESTO_EVALUADOR IS NOT NULL AND [ID_PUESTO_EVALUADOR] = @PIN_ID_PUESTO_EVALUADOR))
			 AND (@PIN_NO_VALOR IS NULL OR (@PIN_NO_VALOR IS NOT NULL AND [NO_VALOR] = @PIN_NO_VALOR))
			
