-- =============================================
-- Proyecto: Sistema SIGEIN  5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CRETAE date: 04/11/2015
-- Description: Inserta un nuevo registro en la tabla C_CANDIDATO
-- =============================================
-- 20/11/2015 MS- Se cambia el valor de retorno
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_C_CANDIDATO] 
		@XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_ID_CANDIDATO AS int
		, @PIN_NB_CANDIDATO AS nvarchar(100)
		, @PIN_NB_APELLIDO_PATERNO AS nvarchar(100)
		, @PIN_NB_APELLIDO_MATERNO AS nvarchar(100)
		, @PIN_CL_GENERO AS nvarchar(1)
		, @PIN_CL_RFC AS nvarchar(20)
		, @PIN_CL_CURP AS nvarchar(20)
		, @PIN_CL_ESTADO_CIVIL AS nvarchar(20)
		, @PIN_NB_CONYUGUE AS nvarchar(100)
		, @PIN_CL_NSS AS nvarchar(20)
		, @PIN_CL_TIPO_SANGUINEO AS nvarchar(10)
		, @PIN_NB_PAIS AS nvarchar(100)
		, @PIN_NB_ESTADO AS nvarchar(100)
		, @PIN_NB_MUNICIPIO AS nvarchar(100)
		, @PIN_NB_COLONIA AS nvarchar(100)
		, @PIN_NB_CALLE AS nvarchar(100)
		, @PIN_NO_INTERIOR AS nvarchar(20)
		, @PIN_NO_EXTERIOR AS nvarchar(20)
		, @PIN_CL_CODIGO_POSTAL AS nvarchar(10)
		, @PIN_CL_CORREO_ELECTRONICO AS nvarchar(200)
		, @PIN_FE_NACIMIENTO AS date
		, @PIN_DS_LUGAR_NACIMIENTO AS nvarchar(200)
		, @PIN_MN_SUELDO AS decimal(13,2)
		, @PIN_CL_NACIONALIDAD AS nvarchar(30)
		, @PIN_DS_NACIONALIDAD AS nvarchar(30)
		, @PIN_NB_LICENCIA AS nvarchar(30)
		, @PIN_DS_VEHICULO AS nvarchar(100)
		, @PIN_CL_CARTILLA_MILITAR AS nvarchar(30)
		, @PIN_CL_CEDULA_PROFESIONAL AS nvarchar(30)
		, @PIN_XML_TELEFONOS AS xml
		, @PIN_XML_INGRESOS AS xml
		, @PIN_XML_EGRESOS AS xml
		, @PIN_XML_PATRIMONIO AS xml
		, @PIN_DS_DISPONIBILIDAD AS nvarchar(100)
		, @PIN_CL_DISPONIBILIDAD_VIAJE AS nvarchar(10)
		, @PIN_XML_PERFIL_RED_SOCIAL AS xml
		, @PIN_DS_COMENTARIO AS nvarchar(1000)
		, @PIN_FG_ACTIVO AS bit
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN

AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
	DECLARE @V_EXIST_TRAN BIT = 0
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    	BEGIN
			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.C_CANDIDATO
			INSERT INTO ADM.C_CANDIDATO
					   ([ID_CANDIDATO]
						, [NB_CANDIDATO]
						, [NB_APELLIDO_PATERNO]
						, [NB_APELLIDO_MATERNO]
						, [CL_GENERO]
						, [CL_RFC]
						, [CL_CURP]
						, [CL_ESTADO_CIVIL]
						, [NB_CONYUGUE]
						, [CL_NSS]
						, [CL_TIPO_SANGUINEO]
						, [NB_PAIS]
						, [NB_ESTADO]
						, [NB_MUNICIPIO]
						, [NB_COLONIA]
						, [NB_CALLE]
						, [NO_INTERIOR]
						, [NO_EXTERIOR]
						, [CL_CODIGO_POSTAL]
						, [CL_CORREO_ELECTRONICO]
						, [FE_NACIMIENTO]
						, [DS_LUGAR_NACIMIENTO]
						, [MN_SUELDO]
						, [CL_NACIONALIDAD]
						, [DS_NACIONALIDAD]
						, [NB_LICENCIA]
						, [DS_VEHICULO]
						, [CL_CARTILLA_MILITAR]
						, [CL_CEDULA_PROFESIONAL]
						, [XML_TELEFONOS]
						, [XML_INGRESOS]
						, [XML_EGRESOS]
						, [XML_PATRIMONIO]
						, [DS_DISPONIBILIDAD]
						, [CL_DISPONIBILIDAD_VIAJE]
						, [XML_PERFIL_RED_SOCIAL]
						, [DS_COMENTARIO]
						, [FG_ACTIVO]
						, [FE_CREACION]
						, [CL_USUARIO_APP_CREA]
						, [NB_PROGRAMA_CREA]
					)
			VALUES
					   (@PIN_ID_CANDIDATO
						, @PIN_NB_CANDIDATO
						, @PIN_NB_APELLIDO_PATERNO
						, @PIN_NB_APELLIDO_MATERNO
						, @PIN_CL_GENERO
						, @PIN_CL_RFC
						, @PIN_CL_CURP
						, @PIN_CL_ESTADO_CIVIL
						, @PIN_NB_CONYUGUE
						, @PIN_CL_NSS
						, @PIN_CL_TIPO_SANGUINEO
						, @PIN_NB_PAIS
						, @PIN_NB_ESTADO
						, @PIN_NB_MUNICIPIO
						, @PIN_NB_COLONIA
						, @PIN_NB_CALLE
						, @PIN_NO_INTERIOR
						, @PIN_NO_EXTERIOR
						, @PIN_CL_CODIGO_POSTAL
						, @PIN_CL_CORREO_ELECTRONICO
						, @PIN_FE_NACIMIENTO
						, @PIN_DS_LUGAR_NACIMIENTO
						, @PIN_MN_SUELDO
						, @PIN_CL_NACIONALIDAD
						, @PIN_DS_NACIONALIDAD
						, @PIN_NB_LICENCIA
						, @PIN_DS_VEHICULO
						, @PIN_CL_CARTILLA_MILITAR
						, @PIN_CL_CEDULA_PROFESIONAL
						, @PIN_XML_TELEFONOS
						, @PIN_XML_INGRESOS
						, @PIN_XML_EGRESOS
						, @PIN_XML_PATRIMONIO
						, @PIN_DS_DISPONIBILIDAD
						, @PIN_CL_DISPONIBILIDAD_VIAJE
						, @PIN_XML_PERFIL_RED_SOCIAL
						, @PIN_DS_COMENTARIO
						, @PIN_FG_ACTIVO
						,  GETDATE()
						, @PIN_CL_USUARIO_APP_CREA
						, @PIN_NB_PROGRAMA_CREA
					)			
		END ELSE BEGIN
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.C_CANDIDATO
			UPDATE ADM.C_CANDIDATO SET
				  [NB_CANDIDATO] = @PIN_NB_CANDIDATO
				, [NB_APELLIDO_PATERNO] = @PIN_NB_APELLIDO_PATERNO
				, [NB_APELLIDO_MATERNO] = @PIN_NB_APELLIDO_MATERNO
				, [CL_GENERO] = @PIN_CL_GENERO
				, [CL_RFC] = @PIN_CL_RFC
				, [CL_CURP] = @PIN_CL_CURP
				, [CL_ESTADO_CIVIL] = @PIN_CL_ESTADO_CIVIL
				, [NB_CONYUGUE] = @PIN_NB_CONYUGUE
				, [CL_NSS] = @PIN_CL_NSS
				, [CL_TIPO_SANGUINEO] = @PIN_CL_TIPO_SANGUINEO
				, [NB_PAIS] = @PIN_NB_PAIS
				, [NB_ESTADO] = @PIN_NB_ESTADO
				, [NB_MUNICIPIO] = @PIN_NB_MUNICIPIO
				, [NB_COLONIA] = @PIN_NB_COLONIA
				, [NB_CALLE] = @PIN_NB_CALLE
				, [NO_INTERIOR] = @PIN_NO_INTERIOR
				, [NO_EXTERIOR] = @PIN_NO_EXTERIOR
				, [CL_CODIGO_POSTAL] = @PIN_CL_CODIGO_POSTAL
				, [CL_CORREO_ELECTRONICO] = @PIN_CL_CORREO_ELECTRONICO
				, [FE_NACIMIENTO] = @PIN_FE_NACIMIENTO
				, [DS_LUGAR_NACIMIENTO] = @PIN_DS_LUGAR_NACIMIENTO
				, [MN_SUELDO] = @PIN_MN_SUELDO
				, [CL_NACIONALIDAD] = @PIN_CL_NACIONALIDAD
				, [DS_NACIONALIDAD] = @PIN_DS_NACIONALIDAD
				, [NB_LICENCIA] = @PIN_NB_LICENCIA
				, [DS_VEHICULO] = @PIN_DS_VEHICULO
				, [CL_CARTILLA_MILITAR] = @PIN_CL_CARTILLA_MILITAR
				, [CL_CEDULA_PROFESIONAL] = @PIN_CL_CEDULA_PROFESIONAL
				, [XML_TELEFONOS] = @PIN_XML_TELEFONOS
				, [XML_INGRESOS] = @PIN_XML_INGRESOS
				, [XML_EGRESOS] = @PIN_XML_EGRESOS
				, [XML_PATRIMONIO] = @PIN_XML_PATRIMONIO
				, [DS_DISPONIBILIDAD] = @PIN_DS_DISPONIBILIDAD
				, [CL_DISPONIBILIDAD_VIAJE] = @PIN_CL_DISPONIBILIDAD_VIAJE
				, [XML_PERFIL_RED_SOCIAL] = @PIN_XML_PERFIL_RED_SOCIAL
				, [DS_COMENTARIO] = @PIN_DS_COMENTARIO
				, [FG_ACTIVO] = @PIN_FG_ACTIVO
				, [FE_MODIFICACION] = GETDATE()
				, [CL_USUARIO_APP_MODIFICA] = @PIN_CL_USUARIO_APP_MODIFICA
				, [NB_PROGRAMA_MODIFICA] = @PIN_NB_PROGRAMA_MODIFICA
			       
			WHERE 		
				ID_CANDIDATO = @PIN_ID_CANDIDATO
						
		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, ERROR_NUMBER(), 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INDICA EN LA VARIABLE DE RETORNO QUE OCURRIO UN ERROR
		
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()

		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END
