-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CREATE date: 27/10/2015
-- Description: Obtiene los datos de la tabla C_CATALOGO_VALOR 
-- =============================================
ALTER PROCEDURE [ADM].[SPE_OBTIENE_C_CATALOGO_VALOR] 
	@PIN_ID_CATALOGO_VALOR AS int = NULL
	, @PIN_CL_CATALOGO_VALOR AS nvarchar(20) = NULL
	, @PIN_NB_CATALOGO_VALOR AS nvarchar(100) = NULL
	, @PIN_DS_CATALOGO_VALOR AS nvarchar(1000) = NULL
	, @PIN_ID_CATALOGO_LISTA AS int = NULL
	
AS   
	--SE DEVUELVE LOS REGISTROS EN BASE A LOS PARAMETROS INSERTADOS
	SELECT 
		[ID_CATALOGO_VALOR]
		, [CL_CATALOGO_VALOR]
		, [NB_CATALOGO_VALOR]
		, [DS_CATALOGO_VALOR]
		, CC.ID_CATALOGO_LISTA
		, CL.NB_CATALOGO_LISTA
	FROM ADM.C_CATALOGO_VALOR CC
	JOIN ADM.C_CATALOGO_LISTA CL ON CC.ID_CATALOGO_LISTA = CL.ID_CATALOGO_LISTA 
	WHERE (@PIN_ID_CATALOGO_VALOR IS NULL OR (@PIN_ID_CATALOGO_VALOR IS NOT NULL AND [ID_CATALOGO_VALOR] = @PIN_ID_CATALOGO_VALOR))
			 AND (@PIN_CL_CATALOGO_VALOR IS NULL OR (@PIN_CL_CATALOGO_VALOR IS NOT NULL AND [CL_CATALOGO_VALOR] = @PIN_CL_CATALOGO_VALOR))
			 AND (@PIN_NB_CATALOGO_VALOR IS NULL OR (@PIN_NB_CATALOGO_VALOR IS NOT NULL AND [NB_CATALOGO_VALOR] = @PIN_NB_CATALOGO_VALOR))
			 AND (@PIN_DS_CATALOGO_VALOR IS NULL OR (@PIN_DS_CATALOGO_VALOR IS NOT NULL AND [DS_CATALOGO_VALOR] = @PIN_DS_CATALOGO_VALOR))
			 AND (@PIN_ID_CATALOGO_LISTA IS NULL OR (@PIN_ID_CATALOGO_LISTA IS NOT NULL AND CC.ID_CATALOGO_LISTA = @PIN_ID_CATALOGO_LISTA))
			
