-- =============================================
-- Proyecto: Sigein 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CRETAE date: 14/09/2015
-- Description: Inserta un nuevo C_COMPETENCIA
-- =============================================
--JVP- 20/10/2015 SE MODIFICA PARA INSERTAR LOS 6 NIVELES DE COMPETENCIA
-- =============================================
-- 20/11/2015 MS - Se modifica el valor de retorno
-- =============================================
ALTER PROCEDURE [ADM].[SPE_INSERTA_ACTUALIZA_C_COMPETENCIA]
		 @XML_RESULTADO XML = '' OUT      --APLICA PARA REGRESAR UN NÚMERO 0 PARA ERROR Y 1 PARA CORRECTO
    	, @PIN_ID_COMPETENCIA AS int
		, @PIN_CL_COMPETENCIA AS nvarchar(32)
		, @PIN_NB_COMPETENCIA AS nvarchar(100)
		, @PIN_DS_COMPETENCIA AS nvarchar(200)
		, @PIN_CL_TIPO_COMPETENCIA AS nvarchar(20)
		, @PIN_CL_CLASIFICACION AS nvarchar(200)
		, @PIN_FG_ACTIVO AS bit
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N0  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N0  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N1  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N1  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N2  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N2  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N3  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N3  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N4  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N4  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N5  AS nvarchar(200)
		, @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N5  AS nvarchar(200)
		, @PIN_XML_CAMPOS_ADICIONALES AS xml
		, @PIN_CL_USUARIO_APP_CREA AS nvarchar(50)
		, @PIN_CL_USUARIO_APP_MODIFICA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_CREA AS nvarchar(50)
		, @PIN_NB_PROGRAMA_MODIFICA AS nvarchar(50)
		, @PIN_TIPO_TRANSACCION CHAR(1)             --I=INSERCIÓN   A=ACTUALIZACIÓN

AS 
BEGIN  
	--SE DECLARA E INICIALIZA LA VARIABLE QUE NOS INDICARA SI GENERAMOS LA TRANSACCION EN ESTE SP
		DECLARE @V_EXIST_TRAN BIT = 0
		DECLARE @FE_FECHA DATETIME =GETDATE() 
    	BEGIN TRY
		--SE VERIFICA SI EXISTE UNA TRANSACCION EN EJECUCION
		IF (@@TRANCOUNT = 0) 
		BEGIN
			--EN CASO DE QUE NO SE INICIALIZA LA TRANSACCION
			BEGIN TRANSACTION
			--SE EDITA LA VARIABLE QUE INDICA QUE SE INICIO LA TRANSACCION EN ESTE BLOQUE PARA CANCELARLA SI ES NECESARIO
			SET @V_EXIST_TRAN = 1
		END	
		
		DECLARE @NIVEL INT ,@DS_NIVEL NVARCHAR(50) ,@DS_NIVEL_COMPETENCIA_PERSONA NVARCHAR(200) ,@DS_NIVEL_COMPETENCIA_PUESTO NVARCHAR(200) 

		--SE VERIFICA SI SE INSERTA EL REGISTRO O SE ACTUALIZARA SEGUN LA VARIABLE DE TIPO DE TRANSACCION  QUE RECIBE EL SP
		IF @PIN_TIPO_TRANSACCION='I'
	    BEGIN
			--SE INSERTA EL REGISTRO EN LA TABLA  ADM.C_COMPETENCIA
			INSERT INTO ADM.C_COMPETENCIA
					   (CL_COMPETENCIA, NB_COMPETENCIA, DS_COMPETENCIA, CL_TIPO_COMPETENCIA
						, CL_CLASIFICACION, FG_ACTIVO, XML_CAMPOS_ADICIONALES, FE_CREACION
						, CL_USUARIO_APP_CREA, NB_PROGRAMA_CREA)
			VALUES	(@PIN_CL_COMPETENCIA, @PIN_NB_COMPETENCIA, @PIN_DS_COMPETENCIA, @PIN_CL_TIPO_COMPETENCIA
						, @PIN_CL_CLASIFICACION, @PIN_FG_ACTIVO, @PIN_XML_CAMPOS_ADICIONALES,  @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)	
			SET @PIN_ID_COMPETENCIA=	SCOPE_IDENTITY()
			--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
			--NIVEL0
			SET @NIVEL = 0 
			SET @DS_NIVEL = 'NIVEL0'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N0
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N0

			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@PIN_DS_NIVEL_COMPETENCIA_PUESTO_N0, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)	
			--NIVEL1
			SET @NIVEL = 1 
			SET @DS_NIVEL = 'NIVEL1'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N1
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N1
			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)	
			--NIVEL2
			SET @NIVEL = 2
			SET @DS_NIVEL = 'NIVEL2'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N2
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N2
			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)	
			--NIVEL3
			SET @NIVEL = 3
			SET @DS_NIVEL = 'NIVEL3'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N3
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N3
			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			--NIVEL4
			SET @NIVEL = 4
			SET @DS_NIVEL = 'NIVEL4'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N4
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N4
			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			--NIVEL5
			SET @NIVEL = 5
			SET @DS_NIVEL = 'NIVEL5'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N5
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N5
			INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
			VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
					@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
					, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
		END ELSE BEGIN
			
			DECLARE @EXITEREGISTRO INT
			--SE ACTUALIZA EL REGISTRO EN LA TABLA  ADM.C_COMPETENCIA
			UPDATE ADM.C_COMPETENCIA SET
				CL_COMPETENCIA = @PIN_CL_COMPETENCIA, NB_COMPETENCIA = @PIN_NB_COMPETENCIA
				, DS_COMPETENCIA = @PIN_DS_COMPETENCIA, CL_TIPO_COMPETENCIA = @PIN_CL_TIPO_COMPETENCIA
				, CL_CLASIFICACION = @PIN_CL_CLASIFICACION, FG_ACTIVO = @PIN_FG_ACTIVO
				, XML_CAMPOS_ADICIONALES = @PIN_XML_CAMPOS_ADICIONALES, FE_MODIFICACION = @FE_FECHA
				, CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA, NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
			WHERE ID_COMPETENCIA = @PIN_ID_COMPETENCIA

						
			SET @NIVEL = 0 
			SET @DS_NIVEL = 'NIVEL0'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N0
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N0
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA					
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 

			SET @NIVEL = 1 
			SET @DS_NIVEL = 'NIVEL1'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N1
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N1
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL	 AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA				
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 

			SET @NIVEL = 2
			SET @DS_NIVEL = 'NIVEL2'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N2
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N2
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL	 AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA				
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 

			SET @NIVEL = 3
			SET @DS_NIVEL = 'NIVEL3'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N3
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N3
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL	 AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA				
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 


			SET @NIVEL = 4
			SET @DS_NIVEL = 'NIVEL4'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N4
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N4
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL	 AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA				
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 


			SET @NIVEL = 5
			SET @DS_NIVEL = 'NIVEL5'
			SET @DS_NIVEL_COMPETENCIA_PERSONA  = @PIN_DS_NIVEL_COMPETENCIA_PERSONA_N5
			SET @DS_NIVEL_COMPETENCIA_PUESTO  = @PIN_DS_NIVEL_COMPETENCIA_PUESTO_N5
			
			--SE VERIFICA QUE EXISTA EL REGISTRO DE LO CONTRARIO SE INSERTARA UN NUEVO NIVEL
			SET @EXITEREGISTRO = ISNULL( (SELECT 1 FROM ADM.C_COMPETENCIA_NIVEL WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL), 0)
			IF (@EXITEREGISTRO= 1)
			BEGIN
				--SE ACTUALIZA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				UPDATE ADM.C_COMPETENCIA_NIVEL 
				SET NB_NIVEL_COMPETENCIA= @PIN_NB_COMPETENCIA
					,DS_NIVEL_COMPETENCIA_PUESTO= @DS_NIVEL_COMPETENCIA_PUESTO
					,DS_NIVEL_COMPETENCIA_PERSONA = @DS_NIVEL_COMPETENCIA_PERSONA
					,ID_COMPETENCIA = @PIN_ID_COMPETENCIA
					,FE_CREACION =@FE_FECHA
					,CL_USUARIO_APP_MODIFICA = @PIN_CL_USUARIO_APP_MODIFICA
					,NB_PROGRAMA_MODIFICA = @PIN_NB_PROGRAMA_MODIFICA
				WHERE CL_NIVEL_COMPETENCIA = @DS_NIVEL AND NO_VALOR_NIVEL = @NIVEL	 AND ID_COMPETENCIA = @PIN_ID_COMPETENCIA				
			END ELSE BEGIN
				--SE INSERTA LOS REGISTROS DE LA TABLA DE ADM.C_COMPETENCIA_NIVEL
				INSERT INTO ADM.C_COMPETENCIA_NIVEL
						(CL_NIVEL_COMPETENCIA,NB_NIVEL_COMPETENCIA,DS_NIVEL_COMPETENCIA_PUESTO
						,DS_NIVEL_COMPETENCIA_PERSONA,NO_VALOR_NIVEL,ID_COMPETENCIA,FE_CREACION
						,CL_USUARIO_APP_CREA,NB_PROGRAMA_CREA)
				VALUES (@DS_NIVEL,@PIN_NB_COMPETENCIA,@DS_NIVEL_COMPETENCIA_PUESTO, 
						@DS_NIVEL_COMPETENCIA_PERSONA,@NIVEL, @PIN_ID_COMPETENCIA, @FE_FECHA
						, @PIN_CL_USUARIO_APP_CREA, @PIN_NB_PROGRAMA_CREA)
			END 


		END
		--SE DEVUELVE LA VARIABLE DE RETORNO INDICANDO QUE TODO SE REALIZO CORRECTAMENTE
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, ERROR_NUMBER(), 'SUCCESSFUL')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Proceso exitoso', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Successful Process', 'EN')
		--SI SE GENERO UNA TRANSACCION EN ESTE BLOQUE LA TERMINARA
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			COMMIT	
	END TRY
	BEGIN CATCH		
		--SI OCURRIO UN ERROR Y SE INICIO UNA TRANSACCION ENE ESTE BLOQUE SE CANCELARA LA TRANSACCION
		IF (@@TRANCOUNT > 0 AND @V_EXIST_TRAN = 1)
			ROLLBACK
		--SE INDICA EN LA VARIABLE DE RETORNO QUE OCURRIO UN ERROR
		
		--SE INSERTA EL ERROR EN LA TABLA		
		DECLARE @ERROR_CLAVE INT  = 	ERROR_NUMBER()
		DECLARE @ERROR_MENSAJE NVARCHAR(250)  = 	 ERROR_MESSAGE()
		
		SET @XML_RESULTADO = DBO.F_ERROR_CREAR_ENCABEZADO( @@ROWCOUNT, @ERROR_CLAVE, 'ERROR')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'ES')
		SET @XML_RESULTADO = DBO.F_ERROR_INSERTAR_MENSAJES(@XML_RESULTADO, 'Ocurrió un error al procesar el registro', 'EN')
			
	END CATCH
END