-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Abraham Ramirez
-- CREATE date: 21/09/2015
-- Description: Obtiene los datos de la tabla S_TIPO_COMPETENCIA 
-- =============================================
-- 20/11/2015 MS - Se regresa valor de cadena para FG_ACTIVO
-- =============================================

ALTER PROCEDURE [ADM].[SPE_OBTIENE_S_TIPO_COMPETENCIA] 
	@PIN_CL_TIPO_COMPETENCIA AS nvarchar(20) = NULL
	, @PIN_NB_TIPO_COMPETENCIA AS nvarchar(100) = NULL
	, @PIN_DS_TIPO_COMPETENCIA AS nvarchar(200) = NULL
	, @PIN_FG_ACTIVO AS BIT = NULL
	
AS   
	--SE DEVUELVE LOS REGISTROS EN BASE A LOS PARAMETROS INSERTADOS
	SELECT 
		[CL_TIPO_COMPETENCIA]
		, [NB_TIPO_COMPETENCIA]
		, [DS_TIPO_COMPETENCIA]
		, FG_ACTIVO
		, CASE WHEN FG_ACTIVO = 1 THEN 'Si'
		  ELSE 'No' END AS NB_ACTIVO
		,'' as DS_FILTRO
	FROM ADM.S_TIPO_COMPETENCIA
	WHERE (@PIN_CL_TIPO_COMPETENCIA IS NULL OR (@PIN_CL_TIPO_COMPETENCIA IS NOT NULL AND [CL_TIPO_COMPETENCIA] = @PIN_CL_TIPO_COMPETENCIA))
			 AND (@PIN_NB_TIPO_COMPETENCIA IS NULL OR (@PIN_NB_TIPO_COMPETENCIA IS NOT NULL AND [NB_TIPO_COMPETENCIA] = @PIN_NB_TIPO_COMPETENCIA))
			 AND (@PIN_DS_TIPO_COMPETENCIA IS NULL OR (@PIN_DS_TIPO_COMPETENCIA IS NOT NULL AND [DS_TIPO_COMPETENCIA] = @PIN_DS_TIPO_COMPETENCIA))
			 AND (@PIN_FG_ACTIVO IS NULL OR (@PIN_FG_ACTIVO IS NOT NULL AND FG_ACTIVO = @PIN_FG_ACTIVO))
			
