-- =============================================
-- Proyecto: Sistema SIGEIN 5.0
-- Copyright (c) - Acrux - 2015
-- Author: Margarita Salcedo
-- CREATE date: 21/09/2015
-- Description: Obtiene los datos de la tabla S_TIPO_RELACION_PUESTO 
-- =============================================
ALTER PROCEDURE [ADM].[SPE_OBTIENE_S_TIPO_RELACION_PUESTO] 
	@PIN_CL_TIPO_RELACION AS nvarchar(20) = NULL
	, @PIN_NB_TIPO_RELACION AS nvarchar(100) = NULL
	, @PIN_DS_TIPO_RELACION AS nvarchar(200) = NULL
	
AS   
	--SE DEVUELVE LOS REGISTROS EN BASE A LOS PARAMETROS INSERTADOS
	SELECT 
		[CL_TIPO_RELACION]
		, [NB_TIPO_RELACION]
		, [DS_TIPO_RELACION]
		,'' as DS_FILTRO
		
	FROM ADM.S_TIPO_RELACION_PUESTO
	WHERE (@PIN_CL_TIPO_RELACION IS NULL OR (@PIN_CL_TIPO_RELACION IS NOT NULL AND [CL_TIPO_RELACION] = @PIN_CL_TIPO_RELACION))
			 AND (@PIN_NB_TIPO_RELACION IS NULL OR (@PIN_NB_TIPO_RELACION IS NOT NULL AND [NB_TIPO_RELACION] = @PIN_NB_TIPO_RELACION))
			 AND (@PIN_DS_TIPO_RELACION IS NULL OR (@PIN_DS_TIPO_RELACION IS NOT NULL AND [DS_TIPO_RELACION] = @PIN_DS_TIPO_RELACION))
			
