.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.LogoLogin {
    margin: 0 auto 10px;
    width: 150px;
    display: block;
}

.CentrarLogin {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -webkit-box-shadow: 1px 1px 7px #ccc;
    -o-box-shadow: 1px 1px 7px #ccc;
    box-shadow: 3px 3px 7px #ccc;
    width: 300px;
}

.PropiedadesLogin {
    box-shadow: 3px 3px 7px #ccc;
    width: 300px;
}

.FondoLogin {
    background-image: url('../images/FondoLogin.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 270px;
    background-position-y: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -9%;
    top: 169px;
    opacity: 0.6;
}

.PiedePagina {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    color: #fff;
    background-color: #C9252C;
    border-color: #C9252C;
}

.zoom {
    transition: 1.0s ease;
    -moz-transition: 1.0s ease; /* Firefox */
    -webkit-transition: 1.0s ease; /* Chrome - Safari */
    -o-transition: 1.0s ease; /* Opera */
    z-index: 99999;
}

    .zoom:hover {
        transform: scale(1.2);
        -moz-transform: scale(1.2); /* Firefox */
        -webkit-transform: scale(1.2); /* Chrome - Safari */
        -o-transform: scale(1.2); /* Opera */
        -ms-transform: scale(1.2); /* IE9 */
        z-index: 99999;
    }

.validacion {
    color: #C9252C;
    display: none;
}

.CentrarContenidoLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -webkit-box-shadow: 1px 1px 7px #ccc;
    -o-box-shadow: 1px 1px 7px #ccc;
    box-shadow: 3px 3px 7px #ccc;
    width: 300px;
    margin-top: 60px;
}

.logo-image {
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #cccccc;
}

.foto-empleado {
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #fff;
}

.cabeceraTitleDelgado {
    background-color: #F2F2F2;
    text-align: left;
    height: 30px;
    border: 1px solid gray;
}

.centrarDiv {
    padding: 10px;
    text-align: center;
}

.margenizquierdo {
    margin-left: 10px;
}

.margenizquierdoMediano {
    margin-left: 20px;
}

.colorDefault {
    color: #fff !important;
    background: #337ab7 !important;
    /*background-color:#337ab7 !important;
    border-color:#2e6da4 !important;*/
}

.divInformacion {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #F5F5F5;
    border: solid 1px #ccc;
}

div.datos, div.datosmodadicionales, div.datosMenuPrincipal {
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -transition: 0.5s all ease-in-out;
}

@media (min-width: 1200px) {

    div.datos:hover {
        -webkit-transform: translateY(-77%);
        -moz-transform: translateY(-77%);
        -o-transform: translateY(-77%);
        -ms-transform: translateY(-77%);
        transform: translateY(-77%);
    }

    div.datos {
        top: 100px;
    }

    div.datosMenuPrincipal:hover {
        -webkit-transform: translateY(-89%);
        -moz-transform: translateY(-89%);
        -o-transform: translateY(-89%);
        -ms-transform: translateY(-89%);
        transform: translateY(-89%);
    }

    div.datosMenuPrincipal {
        top: 260px;
    }


    div.datosmodadicionales:hover {
        -webkit-transform: translateY(-79%);
        -moz-transform: translateY(-79%);
        -o-transform: translateY(-79%);
        -ms-transform: translateY(-79%);
        transform: translateY(-79%);
    }

    div.datosmodadicionales {
        top: 110px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    div.datos:hover {
        -webkit-transform: translateY(-65%);
        -moz-transform: translateY(-65%);
        -o-transform: translateY(-65%);
        -ms-transform: translateY(-65%);
        transform: translateY(-65%);
    }

    div.datos {
        top: 65px;
    }


    div.datosMenuPrincipal:hover {
        -webkit-transform: translateY(-85%);
        -moz-transform: translateY(-85%);
        -o-transform: translateY(-85%);
        -ms-transform: translateY(-85%);
        transform: translateY(-85%);
    }

    div.datosMenuPrincipal {
        top: 200px;
    }

    div.datosmodadicionales:hover {
        -webkit-transform: translateY(-68%);
        -moz-transform: translateY(-68%);
        -o-transform: translateY(-68%);
        -ms-transform: translateY(-68%);
        transform: translateY(-68%);
    }

    div.datosmodadicionales {
        top: 76px;
    }
}

@media (max-width: 767px) {
    div.datos:hover {
        -webkit-transform: translateY(-83%);
        -moz-transform: translateY(-83%);
        -o-transform: translateY(-83%);
        -ms-transform: translateY(-83%);
        transform: translateY(-83%);
    }

    div.datos {
        top: 189px;
    }

    #Logo {
        text-align: center !important;
    }

    div.datosMenuPrincipal:hover {
        -webkit-transform: translateY(-85%);
        -moz-transform: translateY(-85%);
        -o-transform: translateY(-85%);
        -ms-transform: translateY(-85%);
        transform: translateY(-85%);
    }

    div.datosMenuPrincipal {
        top: 200px;
    }

    div.datosmodadicionales:hover {
        -webkit-transform: translateY(-85%);
        -moz-transform: translateY(-85%);
        -o-transform: translateY(-85%);
        -ms-transform: translateY(-85%);
        transform: translateY(-85%);
    }

    div.datosmodadicionales {
        top: 200px;
    }

    #menuaccesosrapidos {
        text-align: center !important;
    }
}

@media (max-width: 478px) {
    div.datos:hover {
        -webkit-transform: translateY(-81%);
        -moz-transform: translateY(-81%);
        -o-transform: translateY(-81%);
        -ms-transform: translateY(-81%);
        transform: translateY(-81%);
    }

    div.datos {
        top: 160px;
    }

    #Logo {
        text-align: center !important;
    }


    div.datosMenuPrincipal:hover {
        -webkit-transform: translateY(-81%);
        -moz-transform: translateY(-81%);
        -o-transform: translateY(-81%);
        -ms-transform: translateY(-81%);
        transform: translateY(-81%);
    }

    div.datosMenuPrincipal {
        top: 160px;
    }


    div.datosmodadicionales:hover {
        -webkit-transform: translateY(-81%);
        -moz-transform: translateY(-81%);
        -o-transform: translateY(-81%);
        -ms-transform: translateY(-81%);
        transform: translateY(-81%);
    }

    div.datosmodadicionales {
        top: 170px;
    }

    #menuaccesosrapidos {
        text-align: center !important;
    }
}



.menuPrincipalCaracteristicas {
    background: -moz-linear-gradient(top,rgba(0,0,0,0.66) 0,rgba(0,0,0,0.66) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.66)),color-stop(100%,rgba(0,0,0,0.66)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.66) 0,rgba(0,0,0,0.66) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0.66) 0,rgba(0,0,0,0.66) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0.66) 0,rgba(0,0,0,0.66) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0.66) 0,rgba(0,0,0,0.66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8000000',endColorstr='#a8000000',GradientType=0);
}

.fieldSetNoBorder {
    border: 0px !important;
}

.panelNoBottomMargin {
    margin-bottom: 0px !important;
}

/* Clase cronometro para las pruebas de sigien */
.Cronometro {
    border: 1px solid #CCC;
    width: 122px;
    text-align: center;
    padding: 2px;
    right:10px;
    /*position: fixed;
    margin-top: 5px;
    margin-right:10px;*/
 
    background: #C6DB95;
    /*radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* shadow*/
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.58);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.58);
    z-index: 99999999;
}

    .Cronometro span {
        font-weight: bold;
    }



.divPrueba {
    border: 2px solid #ddd;
    float: left;
    width: 165px;
    height: 65px;
    text-align: center;
    line-height: 55px;
    margin-right: 10px;
    margin-bottom:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    cursor:pointer;
}

.divPruebaColorDesactivado {
    background-color:grey
}

.divPruebaColorActivado {
    background-color:forestgreen
}

    .divPrueba label {
        cursor:pointer;
    }


    .divPrueba img {
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
    }

.JustificarTexto {
    text-align: justify;
}

.RadToolTip_EO {
    border: 1px solid #A20804 !important;
    background-color: #A20804 !important;
    color: #333 !important;
}

.RadToolTip_EO table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_EO.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_EO.png') !important;
}

.RadToolTip_FD {
    border: 1px solid #FF7400 !important;
    background-color: #FF7400 !important;
    color: #333 !important;
}

.RadToolTip_FD table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_FD.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_FD.png') !important;
}

.RadToolTip_GR {
    border: 1px solid #A9BCF5 !important;
    background-color: #A9BCF5 !important;
    color: #333 !important;
}

.RadToolTip_GR table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_GR.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_GR.png') !important;
}

.RadToolTip_IP {
    border: 1px solid #C6DB95 !important;
    background-color: #C6DB95 !important;
    color: #333 !important;
}

.RadToolTip_IP table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_IP.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_IP.png') !important;
}

.RadToolTip_MC {
    border: 1px solid #0087CF !important;
    background-color: #0087CF !important;
    color: #333 !important;
}

.RadToolTip_MC table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_MC.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_MC.png') !important;
}

.RadToolTip_N {
    border: 1px solid #79026F !important;
    background-color: #79026F !important;
    color: #333 !important;
}

.RadToolTip_N table.rtWrapper td.rtWrapperContent {
    color: #333 !important;
}

.RadToolTip_N.rtVisibleCallout div.rtCallout {
    background-image: url('/Assets/css/Temas/ToolTipPointer_N.png') !important;
}

.RadToolTip.rtVisibleCallout .rtCallout.rtCalloutMiddleLeft {
    margin-left: -8px !important;
}

